.search-bar {
	margin: 0 10px;
}

.filter-container {
    font: 14px 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.type-button {
	display: inline-block;
	background-color: #EEE;

	font-weight: bold;

	padding: 10px;
	margin: 5px;

	text-align: center;
	text-decoration: none !important;

	cursor: pointer;
	transition: width .5s ease;
}

.type-button:hover {
	background-color: #DDD;
}

.type-button.active {
	background-color: #CCC;
}

.add-filter-button {
	display: inline-block;
	background-color: #EEE;

	font-weight: bold;

	padding: 5px;
	margin: 5px;

	text-align: center;
	text-decoration: none !important;

	cursor: pointer;
	transition: width .5s ease;

}

.add-filter-button:hover {
	background-color: #DDD;
}

.add-filter-button.active {
	background-color: #CCC;
}

.remove-filter-button {
	display: inline-block;
	background-color: #EEE;

	font-weight: bold;

	padding: 5px;
	margin: 5px;

	text-align: center;
	text-decoration: none !important;

	cursor: pointer;
	transition: width .5s ease;

}

.remove-filter-button:hover {
	background-color: #DDD;
}

.remove-filter-button.active {
	background-color: #CCC;
}

.initial {
	display: inline-block;
	padding: 5px;
	margin: 0px 5px;
}

.date {
	display: inline-block;
	padding: 5px;
	margin: auto 5px;
}

.date-text {
	display: inline-block;
}

.time {
	display: inline-block;
	padding: 5px;
	margin: auto 5px;
}

.time-text {
	display: inline-block;
}

.text {
	display: inline-block;
}

.filter {
	background: #AAA;
	border-bottom: solid 1px;
}

.filter-options {
	margin-top: auto !important;
	margin-bottom: auto !important;
}
.filter-selection {
	display: inline-block;
}

.add-remove-buttons {
	display: inline-block;
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.detail-sidebar {
	width: 300px;
	position: relative;
	border-left: 2px;
	border-left-style: solid;
	height: 100%;
}

.detail {
	font-size: 1em;
	position: absolute;
	width: 100%;
	height: 100%;
}

.detail-top-half {
	min-height: 300px;
	background-color: #EEE;
	height: 50%;
}

.detail-bottom-half {
	min-height: 250px;
	height: 50%;
}

.detail-full {
	min-height: 600px;
	background-color: #EEE;
	height: 100%;
}

.detail-main-label {
	background-color: #488A2D;
	color: #FFF;
	width: 100%;
	padding: 3px;
	min-height: 60px;
}

.detail-label {
	background-color: #CCC;
	width: 100%;
	padding: 3px;
	float: left;
}

.detail-content {
	margin: 3px;
}

.detail-avatar {
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

.detail-avatar img {
	width: 100%;
	margin: 3px;
}

.detail-date-time {
	display: inline-block;
	width: 68%;
}

.detail-data {
	min-height: 80px;
}

#mapbox {
	height: 100%;
	width: 100%;
	position: relative;
}

body.full .content {
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

.main-list {
	height: 100%;
}

.list-content {
	overflow: auto;
}

.list-title {
	margin: 4px 10px 4px 4px;
	height: 30px;
	color: #000;
	text-decoration: none !important;
	font-size: 1em;
	padding: 5px;
}

.list-item-name {
	width: 30%;
	display: inline-block;
	margin-left: 5px;
}

.list-item-date {
	display: inline-block;
	width: 20%;
}

.list-item-location {
	display: inline-block;
	width: 20%;
}

.list-item-data {
	display: inline-block;
	width: 25%;
}

.list-item {
	margin: 4px 0px;
	width: 100%;
	color: #000;
	padding: 5px 0px;
	background-color: #EEE;
	transition: width .5s ease;
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none !important;
	font-size: 1em;
}

.list-item:hover {
	background-color: #488A2D;
	color: #FFF;
}

.list-item.active {
	background-color: #CCC;
}

.data-view {
	position: relative;
	height: 100%;
	width: 100%;
}

.content {
	position: absolute;
	height: 100%;
	width: 100%;
}