.search-bar {
  margin: 0 10px;
}
.banner-logo {
  max-width: 50px;
  padding: 0 1% 0 0;
}
.filter {
  display: inline-block;
  background: #cccccc;
}
.filter.container {
  font: 14px 'Source Sans Pro', Helvetica, Arial, sans-serif;
  max-height: 185px;
  overflow-y: auto;
}
.filter.button {
  font-weight: bold;
  padding: 0.25em 0.5em 0.25em 0;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  transition: width .5s ease;
}
.filter.button.hover {
  color: #0e9d58;
}
.search {
  margin: 0.25em 0;
}
.search.menu {
  cursor: auto;
  position: absolute;
  display: none;
  top: 50px;
  margin: 0em;
  background-color: #ffffff;
  min-width: 100%;
  white-space: nowrap;
  font-size: 0.875em;
  text-shadow: none;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0.325em 0.325em;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  z-index: 11;
}
select {
  display: inline-block;
  padding: 5px;
  margin: 0.2em 0.3em;
}
.text {
  display: inline-block;
}
.text input {
  margin: 0.1em 0 0.1em 0.2em;
}
.filter.box {
  width: 95%;
  position: relative;
  margin: 0 0 0 5%;
}
.filter.options {
  float: left;
  display: inherit;
  text-align: start !important;
  margin: auto 0 auto 0 !important;
}
.add-remove-buttons {
  float: right;
  display: inline-block;
  margin: auto 0 auto 0 !important;
}
@media (orientation: portrait) {
  main {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.sidebar {
  position: relative;
}
@media (orientation: landscape) {
  .sidebar {
    width: 50%;
    max-width: 400px;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-left: 2px;
    border-left-style: solid;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    transition: width 0.2s ease;
  }
}
@media (orientation: portrait) {
  .sidebar {
    height: 50%;
    max-height: 300px;
    -webkit-flex-direction: row;
    flex-direction: row;
    border-top: 2px;
    border-top-style: solid;
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    transition: height 0.2s ease;
  }
}
@media (orientation: landscape) {
  .sidebar .detail {
    font-size: 1.12em;
  }
}
.sidebar .detail .main-label {
  background-color: #4183c4;
  color: #ffffff;
  width: 100%;
  padding: 3px 0 3px 0;
  min-height: 60px;
}
.sidebar .detail .label {
  background-color: #cccccc;
  width: 100%;
  padding: 3px 0 3px 0;
  float: left;
}
.sidebar .detail .content {
  padding: 10px;
}
.sidebar .detail .avatar {
  vertical-align: top;
}
@media (orientation: landscape) {
  .sidebar .detail .avatar {
    width: 30%;
  }
}
@media (orientation: portrait) {
  .sidebar .detail .avatar {
    width: 15%;
  }
}
.sidebar .detail .avatar img {
  width: 100%;
}
.sidebar .detail .datetime {
  width: 85%;
  float: right;
}
@media (orientation: portrait) {
  .sidebar .detail .datetime {
    min-height: 80px;
  }
}
@media (orientation: portrait) {
  .sidebar .detail .avatar-datetime {
    width: 100%;
  }
}
@media (orientation: landscape) {
  .sidebar .detail .detail-date {
    min-height: 50px;
  }
}
@media (orientation: landscape) {
  .sidebar .detail .detail-time {
    min-height: 50px;
  }
}
@media (orientation: landscape) {
  .sidebar .detail .detail-data {
    min-height: 80px;
  }
}
@media (orientation: portrait) {
  .sidebar .detail .detail-data {
    min-width: 80px;
    width: 100%;
  }
}
.sidebar .detail .detail-location {
  min-width: 80px;
}
.sidebar .detail .information {
  overflow-y: auto;
}
@media (orientation: portrait) {
  .sidebar .detail .information {
    height: 344px;
    width: 100%;
  }
}
.sidebar .detail.text-half {
  background-color: #eeeeee;
}
@media (orientation: landscape) {
  .sidebar .detail.text-half {
    min-height: 300px;
    height: 50%;
  }
}
@media (orientation: portrait) {
  .sidebar .detail.text-half {
    min-width: 300px;
    width: 50%;
  }
}
@media (orientation: landscape) {
  .sidebar .detail.map-half {
    min-height: 250px;
    height: 50%;
  }
}
@media (orientation: portrait) {
  .sidebar .detail.map-half {
    min-width: 250px;
    width: 50%;
  }
}
.sidebar .detail.full {
  background-color: #eeeeee;
}
@media (orientation: landscape) {
  .sidebar .detail.full {
    height: 100%;
  }
}
@media (orientation: portrait) {
  .sidebar .detail.full {
    width: 100%;
  }
}
@media (orientation: landscape) {
  .sidebar.invisible {
    width: 0px;
    border-left: 0;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    transition: width 0.2s ease;
  }
}
@media (orientation: portrait) {
  .sidebar.invisible {
    height: 0px;
    border-top: 0;
    -webkit-flex-direction: row;
    flex-direction: row;
    visibility: hidden;
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    transition: height 0.2s ease;
  }
}
#mapbox {
  height: 100%;
  width: 100%;
  position: absolute;
}
.list.content {
  height: 100%;
  max-height: 96%;
  position: relative;
  overflow-y: auto;
}
.list.title {
  color: #333333;
  text-decoration: none !important;
  font-size: 1em;
}
@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .list.title {
    margin: 4px 0;
    padding: 0;
  }
}
.list.title .list {
  cursor: pointer;
  background-color: #4183c4;
  display: inline-block;
  padding: 0.5em;
}
.list.title .list.hover {
  background-color: #bd2c00;
  color: #ffffff;
}
.list.item {
  width: 100%;
  color: #000000;
  transition: width .5s ease;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none !important;
  font-size: 1em;
}
.list.item > * {
  padding: 0.5em 0.8em;
}
.list.item.hover {
  background-color: #0e9d58;
  color: #ffffff;
}
.list.item.active {
  background-color: #cccccc;
}
.data-view {
  position: relative;
}
.leaflet-control-mapbox-geocoder-form input {
  margin: 0;
}
.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.leaflet-control-zoomslider-knob {
  width: 14px;
  height: 6px;
}
.links {
  margin: 10px 5px;
  min-width: 15%;
}
.filter-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  height: 2em;
  padding: .5em;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  border-radius: .25em;
  line-height: 1;
  -webkit-box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.05) inset;
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.05) inset;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin: auto 0.5em;
}
.filter-button::before {
  top: 0px;
}
.filter-button.hover {
  color: #0e9d58;
}
.filter-button.active {
  background-color: #4183c4;
}
.search-button {
  width: 2em;
  height: 2em;
  display: inline-block;
  cursor: pointer;
  background-image: url("https://static.ografy.io/assets/ografy_search.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 50%;
  float: right;
  margin: auto 0.5em;
}
.dropdown span {
  margin: 0;
  width: 5em;
  font-weight: bold;
  cursor: pointer;
}
.dropdown span.hover {
  color: #0e9d58;
}
@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .main-list {
    font-size: 14px;
  }
}
.spacer {
  height: 1.25em;
  border-left: 1px solid #999999;
}
.order {
  position: absolute;
  left: 45%;
  bottom: 0.5em;
  background-color: #eeeeee;
  padding: 0.2em;
}
.order > * {
  display: inline-block;
}
.order i {
  font-size: 2em;
}
.page {
  transform: translateY(-35%);
}
.next-page.hover,
.previous-page.hover {
  color: #0e9d58;
  cursor: pointer;
}
.next-page.disabled,
.previous-page.disabled {
  color: transparent;
  cursor: auto;
}
