.search-bar {
    margin: 0 10px;
}

.banner-logo {
    max-width: 50px;
    padding: 0 1% 0 0;
}

.filter {
    display: inline-block;
}

.filter.container {
    font: 14px 'Source Sans Pro', Helvetica, Arial, sans-serif;
    max-height: 185px;
    overflow-y: auto;
}

.filter.button {
    background-color: #EEE;

    font-weight: bold;

    padding: 5px;
    margin: 5px;

    text-align: center;
    text-decoration: none !important;

    cursor: pointer;
    transition: width .5s ease;

}

.filter.button:hover {
    background-color: #DDD;
}

.filter.button.active {
    background-color: #CCC;
}

.search.dropdown {
    position: relative;
}

.search.image {
    height: 100px;
    width: 100px;
}

.search.button {
    background-color: #DDD;
    padding: 5px;

    text-decoration: none !important;

    cursor: pointer;
}

.search.button.hover {
    background-color: #DDD
}

.search.menu {
    cursor: auto;
    position: absolute;
    display: none;
    top: 50px;
    margin: 0em;
    background-color: #FFFFFF;
    min-width: 100%;
    white-space: nowrap;
    font-size: 0.875em;
    text-shadow: none;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0.325em 0.325em;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    z-index: 11;

}

.initial {
    display: inline-block;
    padding: 5px;
    margin: 0 0 0 5px;
}

.date {
    display: inline-block;
    padding: 5px;
    margin: 0 0 0 5px;
}

.time {
    display: inline-block;
    padding: 5px;
    margin: 0 0 0 5px;
}

.provider {
    display: inline-block;
    padding: 5px;
    margin: 0 0 0 5px;
}

.text {
    display: inline-block;
    margin: 0 0 0 6px;
}

.filter {
    background: #AAA;
}

.filter.box{
    border-bottom: solid 1px;
}

.filter.options {
    margin: auto 0 auto 0 !important;
}

.add-remove-buttons {
    display: inline-block;
    margin: auto 0 auto 0 !important;
}

@media screen and (orientation: landscape) {
    .sidebar {
        width: 300px;
        flex-direction: column;
        position: relative;
        border-left: 2px;
        border-left-style: solid;
        -webkit-transition: width 0.2s ease;
        -moz-transition: width 0.2s ease;
        transition: width 0.2s ease;
    }

    .sidebar.invisible {
        width: 0px;
        flex-direction: column;
        visibility: hidden;
        -webkit-transition: width 0.2s ease;
        -moz-transition: width 0.2s ease;
        transition: width 0.2s ease;

    }

    /*.detail {*/
    /*font-size: 1em;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*}*/
    .detail.text-half {
        min-height: 300px;
        background-color: #EEE;
        height: 50%;
    }

    .detail.map-half {
        min-height: 250px;
        height: 50%;
    }

    .detail.full {
        min-height: 600px;
        background-color: #EEE;
        height: 100%;
    }

    .detail .main-label {
        background-color: #488A2D;
        color: #FFF;
        width: 100%;
        padding: 3px 0 3px 0;
        min-height: 60px;
    }

    .detail .label {
        background-color: #CCC;
        width: 100%;
        padding: 3px 0 3px 0;
        float: left;
    }

    .detail .content {
        padding: 10px;
    }

    .detail .avatar {
        vertical-align: top;
        width: 30%;
    }

    .detail .avatar img {
        width: 100%;
        margin: 3px;
    }

    .detail .datetime {
        width: 85%;
        float:right;
    }

    .detail .detail-date {
        min-height: 50px;
    }

    .detail .detail-time {
        min-height: 50px;
    }

    .detail .detail-data {
        min-height: 80px;
    }

    .detail .detail-location {
        min-width: 80px;
    }

    .detail .information {
        overflow-y: auto;
    }

}

@media screen and (orientation:portrait) {
    main {
        flex-direction: column;
    }

    .detail {
        font-size: 1.12em;
    }

    .sidebar {
        height: 400px;
        flex-direction: row;
        position: relative;
        border-top: 2px;
        border-top-style: solid;
        -webkit-transition: height 0.2s ease;
        transition: height 0.2s ease;
    }

    .sidebar.invisible {
        height: 0px;
        flex-direction: row;
        visibility: hidden;
        -webkit-transition: height 0.2s ease;
        -moz-transition: height 0.2s ease;
        transition: height 0.2s ease;

    }

    .detail.text-half {
        min-width: 300px;
        background-color: #EEE;
        width: 50%
    }

    .detail.map-half {
        min-width: 250px;
        width: 50%
    }

    .detail.full {
        min-width: 200px;
        background-color: #EEE;
        width: 100%;
    }

    .detail .main-label {
        background-color: #488A2D;
        color: #FFF;
        width: 100%;
        padding: 3px 0 3px 0;
        min-height: 60px;
    }

    .detail .label {
        background-color: #CCC;
        width: 100%;
        padding: 3px 0 3px 0;
        float: left;
    }

    .detail .content {
        padding: 10px;
    }

    .detail .avatar {
        vertical-align: top;
        width: 15%;
        margin: 1%;
    }

    .detail .avatar img {
        width: 100%;
    }

    .detail .datetime {
        min-height: 80px;
        width: 85%;
        float: right;
    }

    .detail .avatar-datetime {
        width: 100%;
    }

    .detail .detail-date {
    }

    .detail .detail-time {
    }

    .detail .detail-data {
        min-width: 80px;
        width: 100%;
    }

    .detail .detail-location {
        min-width: 80px;
    }

    .detail .information {
        height: 344px;
        width: 100%;
        overflow-y: auto;
    }
}

#mapbox {
    height: 100%;
    width: 100%;
    position: absolute;
}

.list.content {
    height: 100%;
    max-height: 96%;
    position: relative;
    overflow-y: auto;
}

.list.title {
    margin: 4px 10px 4px 4px;
    height: 30px;
    color: #000;
    text-decoration: none !important;
    font-size: 1em;
    padding: 5px;
}

.list.item-provider {
    width: 30%;
    display: inline-block;
    margin: 0 0 0 5px;
}

.list.item-date {
    display: inline-block;
    width: 20%;
}

.list.item-name {
    display: inline-block;
    width: 20%;
}

.list.item-data {
    display: inline-block;
    width: 25%;
}

.list.item {
    margin: 4px 0px;
    width: 100%;
    color: #000;
    padding: 5px 0px;
    background-color: #EEE;
    transition: width .5s ease;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none !important;
    font-size: 1em;
}

.list.item:hover {
    background-color: #488A2D;
    color: #FFF;
}

.list.item.active {
    background-color: #CCC;
}

.data-view {
    position: relative;
}

.search.dropdown {

}

.leaflet-control-mapbox-geocoder-form input {
    margin: 0;
}

.leaflet-container .leaflet-control-zoomslider-body {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.leaflet-control-zoomslider-knob {
    width: 14px;
    height: 6px;
}

.links {
    margin: 10px 5px;
    min-width: 10%;
}

.dropdown > .buttons {
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.dropdown .filter {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 2.75em;
    height: 2.75em;
    padding: .8em;
    background-color: rgba(0,0,0,.05);
    text-align: center;
    border-radius: .25em 0 0 .25em;
    line-height: 1;
    -webkit-box-shadow: -1px 0 0 0 rgba(0,0,0,.05) inset;
    box-shadow: -1px 0 0 0 rgba(0,0,0,.05) inset;
    cursor: pointer;
}

.dropdown span {
    margin: 0;
    padding: 0.8em 0;
    width: 6em;
    font-weight: bold;
    cursor: pointer;
}

.dropdown span:hover {
    background-color: #DDD;
}

.menu {
    position: absolute;
    z-index: 10;
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    transition: height 0.2s ease;
    background-color: #EEE;
    border-radius: 3px;
}

.menu.hidden {
    height: 0;
    width: 0;
    visibility: hidden;
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    transition: height 0.2s ease;
}

.menu .item {
    cursor: pointer;
    width: 100%;
    padding: 0.25em 0.5em;
    text-align: left;
}

.menu .item:hover {
    background-color: #CCC;
}

.menu .active {
    background-color: #DDD;
}

.menu .divider {
    border: 1px #BBB solid;
}

.menu .add-filter {
    cursor: pointer;
    width: 100%;
    padding: 0.25em 0.5em;
    text-align: left;
}

.menu .add-filter:hover {
    color: #0E9D58;
}

i.icon {
    display: inline-block;
    opacity: .75;
    margin: 0;
    width: 1.23em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    line-height: 1;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

i.icon:hover {
    background-color: #CCC;
}