{% extends 'core/formatters/dashboard.html' %}

{% block content %}
	<div class="item professional">
		Professional Chart
	</div>

	<div class="item social">
		Social Chart
	</div>

	<div class="item financial">
		Financial Chart
	</div>

	<div class="item professional">
		Professional Chart
	</div>

	<div class="item w2 summary">
		Summary
	</div>

	<div class="item financial">
		Financial Chart
	</div>

	<div class="item w2 summary">
		Summary
	</div>

	<div class="item professional">
		Professional Chart
	</div>

	<div class="item professional">
		Professional Chart
	</div>

	<div class="item social">
		Social Chart
	</div>
{% endblock %}