{% extends 'core/formatters/dispatcher.html' %}

{% block content %}
	<section>
		<h1>Create an Account</h1>
		
		<p>Sign up with an OpenID.</p>
		<p>We'll create an account for you with us and maintain some basic information.</p>
		<p>But you'll continue to use your OpenID to sign in.</p>
	</section>
	
	<section>
		<h1>Edit Basic Settings</h1>
		
		<p>You can input any additional information you'd like that wasn't required for the sign-up process.</p>
		<p>None of this information is required, but it will complete your profile and make it easier to share with friends.</p>
		<p>By default all of your personal information is hidden in your public profile.</p>
		<p>You're free to decide what to show.</p>
		<p>These settings can always be changed and will update immediately.</p>
	</section>
	
	<section>
		<h1>Connect Your Accounts</h1>
		
		<p>You can authorize Ografy to view your other accounts and collect data on your behalf.</p>
		<p>You can start collecting your data from each connected account immediately.</p>
		<p>You'll have to add each connected account separately.</p>
		<p>We'll let you know exactly what information will be sent and received.</p>
		<p>The accounts we support are listed explicitly <a href="">here</a>.</p>
		<p>We'll be sure to let you know if we add, modify, or remove support for any of these services in the future.</p>
	</section>
	
	<section>
		<h1>Select Your Data</h1>
		<p>You can configure each account and specify the data that will be retrieved.</p>
		<p>Ografy will quantify and categorize the information it gathers and suggest formats.</p>
		<p>You can override the assumptions Ografy makes about certain data types</p>
	</section>
	
	<section>
		<h1>Publish Yourself</h1>
		
		<p>You can group gathered data and visualize it with the Ografy visualization engine.</p>
		<p>You can annotate visualizations, adjust color schemes, and import graphic assets to create custom infographics.</p>
		<p>You can share these infographics on your personal website, blog, or social network feeds.</p>
	</section>
	
	<section>
		<h1>Sit Back, Relax!</h1>
		
		<p>Based on your configuration settings, your Ografy account will continue to collect data from your connected accounts.</p>
		<p>Continue spending time with the accounts you already use and your infographics will automatically update!</p>
		<p>If you'd like to disconnect an account or modify its collection settings, simply log in to Ografy and adjust your settings.</p>
		<p>We'll take care of any cached information and your infographics will update within minutes.</p>
	</section>
	
	<section>
		
	</section>
{% endblock %}