{% extends 'core/dispatcher.html' %}
{% load staticfiles %}

{% block content %}
<section>
	<h2 class="center">Welcome to Ografy!</h2>

	<div class="lockwidth centered">
		<p>
			We're currently in closed beta and taking some time to improve our product based on early feedback.
			You're seeing this message because your account has not yet been enabled.
		</p>

		<p>
			We'll be enabling access to users on a first-come, first-served basis.
			When your account is granted access you'll be able to participate in the early-stage testing of our product.
			Constructive feedback will be rewarded with invitations that you can send to your friends who may then bypass the wait period.
		<p>

		<p>We're excited to have you with us and will be enabling your account as soon as we can.</p>

		<p>If you have any questions please don't hesitate to <a href="{% url 'core_contact' %}">contact us</a>.</p>

		<p>Best wishes,<br/>The Ografy team</p>
	</div>
</section>
{% endblock %}
