{% extends 'core/dispatcher.html' %}
{% load staticfiles %}

{% block content %}
<style>
.bg1 {
    background:url({% static 'core/img/bg1.png' %}) left top;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'core/css/fonticons.css' %}"/>
<div class="bgParent bg1">
	<section class="lockwidth centered padded bgblack big-backfill" style="height: 400px">
		<div>
			<div>
				<div class="bg-light backfill padded center rounded" style="float: right; vertical-align: middle; width: 30%">
					<form action="{% url 'core_signup' %}" method="POST" >
						{% csrf_token %}
						<div><input class="full-width" type="text" name="email" placeholder="Email Address" /></div>
						<div><input class="full-width" type="text" name="handle" placeholder="Username" /></div>
						<div><input class="full-width" type="password" name="password" placeholder="Password" /></div>
						<input class="ui button positive" type="submit" value="Sign Up" />
					</form>
				</div>
				<div class="center" style="width: 70%">
					<h1 style="font-size: 4em; margin: 0">Ografy</h1>
					<h1>lets you discover your data</h1>
					<div style="float: left; width: 30%">
						<i class="superLargeIcon icon-share"></i>
					</div>
					<div style="text-align: left">
						<p style="float: left; width: 70%">Search and explore your data no matter where it is</p>
						<p style="float: left; width: 70%">Connect with your existing accounts and publish yourself around the world</p>
						<p style="float: left; width: 70%">Get more out of your favorite applications and services</p>
						<p style="float: left; width: 70%">See what you care about and in a brand new way</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<section class="lockwidth centered center">
	<div class="box-list">
		<div class="padding-top-cell"></div>
		<div class="box-list-cells">
			<span class="box-list-header">
				<div class="icon-element"><i class="icon-location4"></i></div>
			</span>
			<div class="icon-list">
				<h3>Get services working together</h3>
				<i class="icon-chat-alt-stroke"></i><p> Define custom streams across all of your information sources</p>
				<i class="icon-chart-alt"></i><p>Plot data as different types of charts</p>
				<i class="icon-clock"></i><p>Create beautiful interactive timelines</p>
				<i class="icon-map3"></i><p>Place your activity at locations on maps</p>
				<i class="icon-magnifying-glass"></i><p>Filter and search by service, time, and location</p>
			</div>
		</div>
		<div class="box-list-cells">
			<span class="box-list-header">
				<div class="icon-element"><i class="icon-statistics"></i></div>
			</span>
			<div class="icon-list">
				<h3>Easily re-stream your data</h3>
				<i class="icon-target2"></i><p>You can track your activity as you use the internet because it's easy to control what you collect and who can see it</p>
				<i class="icon-pin2"></i><p>Share useful and cool stats in any format you choose and find the narrative in your life through data</p>
				<i class="icon-domain2"></i><p>You no longer have to scour multiple available applications to get all of the capabilities they want</p>
			</div>
		</div>
		<div class="box-list-cells">
			<span class="box-list-header">
				<div class="icon-element"><i class="icon-globe"></i></div>
			</span>
			<div class="icon-list">
				<h3>What's next?</h3>
				<i class="icon-uniF68A"></i><p>Ografy was designed to be simple to use and more advanced features are available for users who'd like to spend more time</p>
				<i class="icon-uniF75F"></i><p>We are starting by supporting a core set of well loved services and we have plans to support many more</p>
				<i class="icon-bars2"></i><p>If you'd like more detailed control over how your data is visualized, be sure to check out the <a href="/docs">documentation</a></p>
			</div>
		</div>
		<div class="box-list-cells">
			<span class="box-list-header">
				<div class="icon-element"><i class="icon-link"></i></div>
			</span>
			<div class="icon-list">
				<h3>Connect with us!</h3>
				<i class="icon-rss-alt"></i><p>Become our friend on social networks</p>
				<div style="width: 100%;text-align: center;">
					<div class="largeIconRow" >
						<div><a href="https://www.facebook.com/Ografy">
							<i class="largeIcon icon-facebook"></i></a></div>
						<div><a href="https://twitter.com/ografy">
							<i class="largeIcon icon-twitter"></i></a></div>
						<div><a href="https://plus.google.com/u/0/b/112429164417309337958/112429164417309337958">
							<i class="largeIcon icon-googleplus"></i></a></div>
						<div><a href="https://www.linkedin.com/company/ografy">
							<i class="largeIcon icon-linkedin"></i></a></div>
					</div>
				</div>
				<i class="icon-cube"></i><p>If you'd like to check in on some of our planned features and read about our values be sure to check out our <a href="/blog">blog</a></p>
				<i class="icon-comment-stroke"></i><p>If you need to contact us directly, try our <a href="{% url 'core_contact' %}">contact page</a>. We'd love to hear from you!</p>
			</div>
		</div>
		<div class="padding-bottom-cell"></div>
	</div>
</section>
{% endblock %}
