{% extends 'core/formatters/dispatcher.html' %}

{% block content %}
	<section>
		<h1>Ografy</h1>
		
		<p>Ografy is a data aggregation and interaction tool that helps you visualize and share your data.</p>
	</section>
	
	<section>
		<h1>How It Works</h1>
		
		<p>Ografy collects the information you generate and re-streams it in a single place.</p>
		<figure>INSERT THE COLLECTION ASSET IMAGE HERE.</figure>
		<p>You can automatically track your activity and easily share cool stats with your friends and the world.</p>
		<figure>INSERT THE PUBLISHING ASSET IMAGE HERE.</figure>
		<p>You can easily manage how your data is tracked and published.</p>
	</section>
	
	<section>
		<h1>Getting Started</h1>
		
		<p>To get started with Ografy you'll need to create an account.</p>
		<figure>INSERT THE LINKED ACCOUNT COLLAGE HERE.</figure>
		<p>Check out the <a href="/getting-started">quick start</a> page to get set up.</p>
	</section>
	
	<section>
		<h1>Next Steps</h1>
		
		<p>Ografy was designed to minimize the learning curve.</p>
		<p>However, more advanced features are available for users who'd like to spend more time.</p>
		<p>If you'd like more detailed control over how your data is visualized, be sure to check out the <a href="/docs">documentation</a>.</p>
	</section>
	
	<section>
		<h1>What's Next?</h1>
		
		<p>Ografy is continually updated with new features.</p>
		<p>If you'd like to check in on the team's status and the planned features, be sure to check out the <a href="/blog">development blog</a>.</p>
	</section>
{% endblock %}