{% extends 'core/dispatcher.html' %}

{% block content %}
<section class="lockwidth centered">
	<div class="table centered backfill padded" style="width:40rem;">
		<div>
			<div class="center">
				Login to Ografy
			</div>
		</div>
		<div>
			<div>
				<form action="{% url 'xauth_login' %}" method="POST">
					{% csrf_token %}
					<div>
						<input class="full-width" type="text" name="identifier" placeholder="Email or handle" value="{{ form.identifier.value }}" {% if autofocus %}autofocus {% endif %}/>
					</div>
					<div>
						<input class="full-width" type="password" name="password" placeholder="Password" />
					</div>
					<div>{{ form.non_field_errors }}</div>
					<div>
						<label><input type="checkbox" name="remember_me" value="1" />Remember me</label>
					</div>
					<div class="center">
						<input class="ui button positive" type="submit" value="Log In" />
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
