<section id="edit-settings" class="bg-dark waypoint signup">
	<h1 class="center">Edit Basic Settings</h1>

	<div class="table lock-width">
		<div>
			<div class="middle">
				<p>If you'd like to fill out your profile a bit more you can now enter some basic info.</p>
				<p>None of this info is required, but it help to share with friends.</p>
				<p>By default all of your personal information is hidden in your public profile.</p>
				<p>You're free to decide what to show.</p>
				<p>These settings can always be changed and will update immediately.</p>
			</div>

			<div class="bg-gray middle" style="width:25%;padding:15px;">
				<input class="txt-artsy" type="text" name="first_name" placeholder="First Name" />
				<input class="txt-artsy" type="text" name="last_name" placeholder="Last Name" />
				<input class="txt-artsy" type="text" name="location" placeholder="Home Location" />
			</div>
		</div>
	</div>
</section>

<section id="connect-accounts" class="bg-green waypoint signup">
	<h1 class="center">Connect Your Accounts</h1>

	<div class="table lock-width">
		<div>
			<div class="middle center">
				<p>You can authorize Ografy to view your other accounts and collect data on your behalf.</p>
				<p>You can start collecting your data from each connected account immediately.</p>
				<p>You'll have to add each connected account separately.</p>
				<p>We'll let you know exactly what information will be sent and received.</p>
				<p>The accounts we support are listed explicitly <a href="">here</a>.</p>
				<p>We'll be sure to let you know if we add, modify, or remove support for any of these services in the future.</p>
			</div>
		</div>
	</div>
</section>

<section id="select-data" class="bg-dark waypoint signup">
	<h1 class="center">Select Your Data</h1>

	<div class="table lock-width">
		<div>
			<div class="middle center">
				<p>You can configure each account and specify the data that will be retrieved.</p>
				<p>Ografy will quantify and categorize the information it gathers and suggest formats.</p>
				<p>You can override the assumptions Ografy makes about certain data types</p>
			</div>
		</div>
	</div>
</section>

<section id="publish-yourself" class="bg-blue waypoint signup">
	<h1 class="center">Publish Yourself</h1>

	<div class="table lock-width">
		<div>
			<div class="middle center">
				<p>You can group gathered data and visualize it with the Ografy visualization engine.</p>
				<p>You can annotate visualizations, adjust color schemes, and import graphic assets to create custom infographics.</p>
				<p>You can share these infographics on your personal website, blog, or social network feeds.</p>
			</div>
		</div>
	</div>
</section>

<section id="relax" class="waypoint signup" style="border-bottom:10px solid #707070;">
	<h1 class="center">Sit Back, Relax!</h1>

	<div class="table lock-width">
		<div class="middle center">
			<p>Continue spending time with the accounts you already use!</p>
			<p>Ografy will continue to collect data from your connected accounts.</p>
			<p>You can disconnect an account at any time.</p>
			<p>Simply login and update your connection settings.</p>
			<p>We'll be sure to delete any residual data.</p>
		</div>
	</div>
</section>
