{% extends 'core/dispatcher.html' %}

{% block content %}
<section class="lockwidth centered">
	<div class="center centered" style="width:50%;">
		<h2>Welcome to Ografy!</h2>
		<p>We're excited to have you join us!</p>
		<p>
			We're currently in closed beta so your account won't be immediately enabled.
			But you should be able to reserve a name now and log in without a problem.
		</p>
		<!--<p>First things first, let's create you an an account with some basic information.</p>
		<p>For now you only need to provide a valid email address and a password. You can fill out the rest of your information later if you'd like.</p>-->
	</div>

	<div class="table centered backfill padded rounded" style="width:40rem;">
		<div>
			<div class="center">
				Sign up for Ografy
			</div>
		</div>
		<div>
			<div>
				<form action="{% url 'core_signup' %}" method="POST">
					{% csrf_token %}
					<div>
						<input class="full-width" type="text" name="email" placeholder="Email address" value="{{ form.email.value|default_if_none:'' }}" {% if autofocus %}autofocus {% endif %}/>
						{{ form.email.errors }}
					</div>
					<div>
						<input class="full-width" type="text" name="handle" placeholder="Username" value="{{ form.handle.value|default_if_none:'' }}" />
						{{ form.handle.errors }}
					</div>
					<div>
						<input class="full-width" type="text" name="first_name" placeholder="First name" value="{{ form.first_name.value|default_if_none:'' }}" />
						{{ form.first_name.errors }}
					</div>
					<div>
						<input class="full-width" type="text" name="last_name" placeholder="Last name" value="{{ form.last_name.value|default_if_none:'' }}" />
						{{ form.last_name.errors }}
					</div>
					<div>
						<input class="full-width" type="password" name="password" placeholder="Password" />
						{{ form.password.errors }}
					</div>
					<div>{{ form.non_field_errors }}</div>
					<div class="center"><div class="center"><input class="ui button positive" type="submit" value="Sign up" /></div></div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
