{% extends 'core/base.html' %}


{% block static %}
{{ block.super }}

<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block content %}
	<section>
		<form action="#" method="POST">
			<input type="text" name="email" placeholder="E-mail address" value="{{ email }}"/>
			<select name="feeling">
				<option value="0">Happy</option>
				<option value="1">Confused</option>
				<option value="2">Frustrated</option>
				<option value="3">Angry</option>
				<option value="4">Curious</option>
				<option value="5">Helpful</option>
			</select>
			<input type="text" name="subject" placeholder="Subject (optional)" value="{{ subject }}"/>
			<textarea name="message"></textarea>
			<div class="g-recaptcha" data-sitekey="6Ld3Ng0TAAAAAJp-bx-xCX7dMfYLq-5Zf8Cdowod"></div>
			<input type="submit" value="Send" />
		</form>
	</section>

	<div class="help-container">
		<h1>Contact Us</h1>
		<h3>
			Technical problems
		</h3>
		<p>
			If you notice any technical issues, please email support@bitscoop.com with a description of the problem you are seeing.
		</p>
		<h3>
			Social Media
		</h3>
		<p>
			BitScoop is on a variety of social media, including Facebook, Twitter, reddit, LinkedIn, and Instagram.
		</p>
	</div>
{% endblock %}
