{% extends 'core/base.html' %}


{% block main %}
	<form action="{% url 'login' %}" method="POST">
		<div class="boxed-group">
			<div>Login to BitScoop</div>

			<div>
				{% csrf_token %}

				<div class="text-box">
					<input type="text" name="identifier" placeholder="Email or handle" value="{{ form.identifier.value }}" {% if autofocus %}autofocus {% endif %}/>
				</div>

				<div class="text-box">
					<input type="password" name="password" placeholder="Password" />
				</div>

				<div>
					{{ form.non_field_errors }}
				</div>

				<div class="input-container">
					<label><input type="checkbox" name="remember_me" value="1" />Remember me</label>
				</div>
			</div>
		</div>

		<div>
			<input type="submit" value="Log In" />
		</div>
	</form>
{% endblock %}
