<div class="mix list-item" data-object-id="{{ objectType }}.{{ object.id }}" {% for sortField in sortFields %} data-{{ sortField.attr }}="{% if object[sortField.property] == undefined %}~{% else %}{{ object[sortField.property] }}{% endif %}" {% endfor %}>
	{% for column in columns %}
		{% if column.displayMobile and isMobile or not isMobile %}
		<div>
			{% if not isMobile %}
				{% if column.type == 'icon' %}
				<i class="{{ object[column.icon] }}"></i>
				{% endif %}
				<span class="{{ column.property }}">{{ object[column.property] }}</span>
			{% else %}
					{% if column.type == 'icon' %}
						<i class="{{ object[column.icon] }}"></i>
					{% else %}
						<span class="{{ column.property }}">{{ object[column.property] }}</span>
					{% endif %}
				{% endif %}
		</div>
		{% endif %}
	{% endfor %}
</div>

