{% load staticfiles %}
<!doctype html>
<html>
<head>
	<title>Ografy oBase Test</title>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

	{% block static %}
		<script type="text/javascript" src="{% static 'obase/smokesignal.js' %}"></script>
		<script type="text/javascript" src="{% static 'obase/test.js' %}"></script>
	{% endblock %}
</head>
<body>
<h1>Ografy oBase Test</h1>
<div id="result"></div>
</body>
</html>
