{% extends 'core/base.html' %}

{% load staticfiles %}


{% block static %}
	{{ block.super }}

	{# mapbox #}
	<link rel="stylesheet" type="text/css" href="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css" />
	{# mapbox-directions #}
	<link rel='stylesheet' type="text/css" href='https://api.tiles.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.1.0/mapbox.directions.css'/>
	{# leaflet-draw #}
	<link rel="stylesheet" type="text/css" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css" />
	{# leaflet-awesome-markers #}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
	{# leaflet-fullscreen #}
	<link rel="stylesheet" type="text/css" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.4/leaflet.fullscreen.css" />
	{# leaflet-markercluster #}
	<link rel="stylesheet" type="text/css" href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css'/>
	<link rel="stylesheet" type="text/css" href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css'/>
	{# leaflet-zoomslider #}
	<link rel="stylesheet" type="text/css" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.css" />

	<link rel="stylesheet" type="text/css" href="https://d3buhrktqnvzt8.cloudfront.net/minimodal/0.1.2/minimodal-0.1.2.css" />
	<script type="text/javascript">
		require(['explorer']);
	</script>
{% endblock %}


{% block header %}
	{% include 'core/components/header.html' with mode='app' %}
{% endblock %}


{% block outer_footer %}
{% endblock %}
