{% extends 'core/dispatcher.html' %}

{% block content %}
<section class="lockwidth centered">
	<h2>Update your information</h2>
	<form action="{% url 'account_details' %}" method="POST">
	{% csrf_token %}
	<div class="table">
		<div>
			<div>Email:</div>
			<div><input type="text" name="email" value="{{ form.email.value|default_if_none:'' }}" {% if autofocus %}autofocus {% endif %}/></div>
		</div>
		<div>
			<div></div>
			<div>{{ form.email.errors }}</div>
		</div>

		<div>
			<div>Username:</div>
			<div><input type="text" name="handle" value="{{ form.handle.value|default_if_none:'' }}" /></div>
		</div>
		<div>
			<div></div>
			<div>{{ form.handle.errors }}</div>
		</div>

		<div>
			<div>First Name:</div>
			<div><input type="text" name="first_name" value="{{ form.first_name.value|default_if_none:'' }}" /></div>
		</div>
		<div>
			<div></div>
			<div>{{ form.first_name.errors }}</div>
		</div>

		<div>
			<div>Last Name:</div>
			<div><input type="text" name="last_name" value="{{ form.last_name.value|default_if_none:'' }}" /></div>
		</div>
		<div>
			<div></div>
			<div>{{ form.last_name.errors }}</div>
		</div>
	</div>
	<div>{{ form.non_field_errors }}</div>
	<input class="ui button positive" type="submit" value="Update" />
	</form>
</section>
{% endblock %}
