body.home {
	a {
		color: @color2;
	}

	&.authenticated {
		#profile-pic-large {
			width: 150px;
			border-radius: 500px;
		}

		#search-bar {
			width: 50%;
			min-width: 500px;
		}
	}

	&:not(.authenticated) {
		& header > nav {
			.lock-width;
		}

		& footer {
			color: lighten(@dark, 65%);

			a {
				color: @color2;
			}
		}

		#facets {
			margin: 30px;
		}

		#facets .card {
			width: 350px;
			height: 200px;
			margin: 15px;
			padding: 15px;
			text-align: center;

			@media @mobile {
				width: 16em;
				height: 14em;
			}
		}

		main {
			.flex;
			.flex-center;
			.flex-x-center;

			.text-box {
				width: 250px;
			}

			ul.errorlist {
				padding: 0;

				li {
					list-style-type: none;
					text-align: center;
				}
			}
		}
	}



	footer {
		@color: lighten(@font-color, 40%);

		color: @color;

		#social {
			font-size: 3.5em;
			margin-bottom: 0.5em;

			a {
				color: @color;
				padding: 0.5em;

				&.facebook {
					&:hover,
					&:active {
						color: #405E9B;
					}
				}

				&.twitter {
					&:hover,
					&:active {
						color: #6CADDE;
					}
				}

				&.github {
					&:hover,
					&:active {
						color: #85E065;
					}
				}

				&.instagram {
					&:hover,
					&:active {
						color: #E0412F;
					}
				}
			}
		}
	}
}
