body.providers {
	.logo {
		height: 30px;
	}

	overflow-y: hidden;

	&:not(.authenticated) header nav {
		.lock-width;
	}

	#search-bar {
		width: 400px;
	}

	#done {
		width: 100px;
		align-self: stretch;
		margin-left: 1em;

		@media @mobile {
			width: 100%;
			margin: 0;
		}
	}

	main {
		width: 100%;
	}

	#filters {
		.flex;
		.flex-wrap;
		.flex-center;
		.flex-x-center;

		@media @maxwidth768, @mobile {
			margin: 0 auto;
			z-index: 10;
			width: 30em;
		}

		& > .filter {
			text-transform: uppercase;
			padding: 0.25em 0.5em;
			border-bottom: 2px solid transparent;
			cursor: pointer;

			.raleway;
			.no-select;

			&:hover,
			&:active,
			&.active {
				color: @color4;
				border-color: @color4;
			}

			&.visible {
				@media @maxwidth768, @mobile {
					display: inline-block;
				}
			}

			&:active.visible,
			&.active.visible {
				@media @maxwidth1080, @mobile {
					background-color: lighten(@light, 5%);
				}
			}

			@media @maxwidth768, @mobile {
				display: none;
				width: 10em;
				margin-bottom: 1em;
				background: @light;
				font-size: 1.3em;
			}

			& > .filter-text {
				padding: 0.5em;
				display: inline-block;
				height: 50px;
				width: auto;
				color: inherit;
				line-height: 30px;
			}
		}
	}

	.mobile-placeholder {
		display: none;
		cursor: pointer;

		.raleway;
		.no-select;

		@media @maxwidth768, @mobile {
			width: 10em;
			height: 2em;
			display: flex;
			margin: 0 auto;
			font-size: 2em;
			align-items: center;
			justify-content: center;
		}

		.placeholder-text {
			margin-right: 0.5em;
		}
	}

	#provider-grid {
		@spacing: 10px;

		overflow-y: scroll;
		height: 0;
		padding: @spacing;

		.flex-grow;
		.align-center;

		& > div {
			font-size: 1.8em;
			display: inline-block;
			width: 175px;
			height: 175px;
			margin: @spacing;
			background-color: darken(@light, 15%);
			border: 3px solid darken(@light, 25%);
			cursor: pointer;

			.align-center;
			.no-select;

			&.associated {
				color: @light;
				background-color: @color1;
				border-color: lighten(@color1, 25%);
			}

			&.mix {
				display: none;
			}

			&:hover,
			&:active,
			&.active {
				border-color: @color4;
			}

			& > div {
				height: 100%;

				.flex;
				.flex-column;
				.flex-center;
			}
		}
	}
}
