<div class="mix object-details-container" data-object-id="contacts.{{ contact.id }}" {% for sortField in sortFields %}
     data-{{ sortField.attr }}="{{ contact[sortField.property] }}" {% endfor %}>

	<div class="object-details contact">
		{% if contact.embed_thumbnail %}
			<img src="{{ contact.embed_thumbnail }}"/>
		{% else %}
			<div class="icon-big fa fa-user"></div>
		{% endif %}

		{% if contact.name %}
			<div>{{ contact.name }}</div>
		{% endif %}

		{% if not isEventDetail %}
			<div class="provider-name">
				<i class="{{ contact.providerIcon }}"></i>
				<span>{{ contact.provider_name }}</span>
			</div>
		{% endif %}

		{% if contact.handle %}
			<div>{{ contact.handle }}</div>
		{% endif %}
	</div>

	<div class="action-bar-container">
		{{ actionBar }}
	</div>
</div>
