<div class="mix object-details contact" data-object-id="contacts.{{ contact.id }}" {% for sortField in sortFields %}
     data-{{ sortField.attr }}="{{ contact[sortField.property] }}" {% endfor %}>

	<div class="contact-container">
		{% if contact.avatar_url %}
			<img class="user-image" src="{{ contact.avatar_url }}"/>
		{% else %}
			<i class="user-image-icon fa fa-user"></i>
		{% endif %}

		<div class="contact-info">
		{% if contact.name %}
			<div>{{ contact.name }}</div>
		{% endif %}

		{% if contact.handle %}
			<div>{{ contact.handle }}</div>
		{% endif %}
		</div>
	</div>

	<div class="action-bar-container">
		{{ actionBar }}
	</div>
</div>
