<div class="mix object-details event">
    <div class="provider-container">
        <div class="provider-icon">
            <i class="{{ event.providerIcon }}"></i>
        </div>
        <span class="provider-name">{{ event.provider_name }}</span>
    </div>

    <div>
        <div class="event-type-container icon-text-right">
            <i class="{{ event.eventTypeIcon }}"></i>
            {% if event.context %}
            <span>{{ event.context }}</span>
            {% else %}
            <span>{{ event.type }}</span>
            {% endif %}
        </div>

        {% if event.date %}
            <div class="date icon-text-right">
                <i class="fa fa-calendar"></i>
                <span>{{ event.date }}</span>
            </div>

            <div class="time icon-text-right">
                <i class="fa fa-clock-o"></i>
                <span>{{ event.time }}</span>
            </div>

            {% if event.datetimeEstimated %}
            <div class="estimated">Estimated</div>
            {% endif %}
        {% endif %}

        <div class="action-bar-container">
            {{ actionBar }}
        </div>
    </div>
</div>
