<div class="mix object-details-container" data-object-id="events.{{ event.id }}" {% for sortField in sortFields %} data-{{ sortField.attr }}="{% if event[sortField.property] == undefined %}~{% else %}{{ event[sortField.property] }}{% endif %}" {% endfor %}>

	<div class="object-details event">
		<div>
			<div class="icon {{ event.eventTypeIcon }}"></div>
		{% if event.context %}
			<div class="event-type">{{ event.context }}</div>
		{% else %}
			<div class="event-type">{{ event.type }}</div>
		{% endif %}
		</div>

		<div>
			<div class="icon {{ event.providerIcon }}"></div>
			<div class="provider-name">{{ event.provider_name }}</div>
		</div>

		{% if event.date %}
			<div class="datetime">
				{% if event.datetimeEstimated %}
					<div>Estimated</div>
				{% endif %}
				<span class="fa fa-calendar"></span>
			<span>
				{{ event.date }}
			</span>
				<span class="fa fa-clock-o"></span>
			<span>
				{{ event.time }}
			</span>
			</div>
		{% endif %}
	</div>

	<div class="action-bar-container">
		{{ actionBar }}
	</div>
</div>
