<div class="mix object-details thing" data-object-id="things.{{ thing.id }}" {% for sortField in sortFields %} data-{{ sortField.attr }}="{{ thing[sortField.property] }}" {% endfor %}>

	{% if thing.formatted_embed_content %}
		{{ thing.formatted_embed_content }}
	{% elif thing.embed_thumbnail %}
		{% if not thing.title %}
			<img src="{{ thing.embed_thumbnail }}"/>
		{% else %}
		<a href="{{ thing.url }}" target="_blank">
			<img src="{{ thing.embed_thumbnail }}"/>
		</a>
		{% endif %}
	{% endif %}

	{% if thing.url %}
		<a class="content-title" href="{{ thing.url }}" target="_blank">{{ thing.title }}</a>
	{% else %}
		<div class="content-title">{{ thing.title }}</div>
	{% endif %}

	{% if thing.text%}
		{% if thing.url and not thing.title %}
		<a class="text-area" href="{{ thing.url }}" target="_blank">{{ thing.text }}</a>
		{% else %}
		<pre class="text-area">{{ thing.text }}</pre>
		{% endif %}
	{% endif %}

	<div class="content-footer-container">
		<div class="action-bar-container">
			{{ actionBar }}
		</div>

		<div class="icon-text-right">
			<i class="{{ thing.thingTypeIcon }}"></i>
			<span class="thing-type">{{ thing.prettyType }}</span>
		</div>
	</div>
</div>
