<div class="mix object-details thing" data-object-id="things.{{ thing.id }}" {% for sortField in sortFields %} data-{{
     sortField.attr }}="{{ thing[sortField.property] }}" {% endfor %}>
	{% if thing.formatted_embed_content %}
	{{ thing.formatted_embed_content }}
	{% elif thing.embed_thumbnail %}
	<img src="{{ thing.embed_thumbnail }}"/>
	{% endif %}

	{% if thing.url %}
	<a class="thing-title" href="{{ thing.url }}" target="_blank">{{ thing.title }}</a>
	{% elif thing.title %}
	<div class="thing-title">{{ thing.title }}</div>
	{% endif %}

	{% if thing.text %}
	<div class="text-area">{{ thing.text }}</div>
	{% endif %}

	<div class="icons">
		<div>
			<i class="{{ thing.thingTypeIcon }}"></i>
			<span class="thing-type">{{ thing.prettyType }}</span>
		</div>
		{% if not isEventDetail %}
		<div>
			<i class="{{ thing.providerIcon }}"></i>
			<span>{{ thing.provider_name }}</span>
		</div>
		{% endif %}
	</div>
</div>
