{% extends 'core/base.html' %}


{% block static %}
	{{ block.super }}

	<link rel="stylesheet" type="text/css" href="https://d3buhrktqnvzt8.cloudfront.net/minimodal/0.1.2/minimodal-0.1.2.css" />
	<script type="text/javascript">
		require(['user-home']);
	</script>
{% endblock %}


{% block header %}
	{% include 'core/components/header.html' with mode='home' %}
{% endblock %}


{% block main %}
<div id="home-left">
	<div class="username-icon">
		<div><img id="profile-pic-large" src="https://avatars3.githubusercontent.com/u/2207290?v=3&s=460" /></div>
		<div class="username">{{ user.first_name }} {{ user.last_name }}</div>
	</div>
	<div class="stats">
		<div class="image-and-text" name="events">
			<div class="fa fa-clock-o"></div>
			<div class="count"></div>
		</div>
		<div class="image-and-text" name="connections">
			<div class="fa fa-plug"></div>
			<div class="count">{{ connection_count }} Connections</div>
		</div>
	</div>
</div>
<div id="home-right">
	<div id="tabs">
		<div class="tab" name="favorited">
			<div class="icon fa fa-star"></div>
			<div>Favorited</div>
		</div>
		<div class="tab" name="recent">Recent</div>
		<div class="tab" name="top">Top</div>
	</div>
	<div id="searches-container">
		<div id="search-scroll">
			<div id="searches">
				<div id="drawer-container">
					<div id="drawer">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block outer_footer %}
{% endblock %}
