@import 'themes/active.less';
@import 'explorer/less/components/action-bar.less';
@import 'explorer/less/components/drawer.less';
@import 'explorer/less/components/grid-item.less';
@import 'explorer/less/components/list-item.less';
@import 'explorer/less/components/no-results.less';
@import 'explorer/less/components/waiting.less';
@import 'explorer/less/objects/objects.less';
@import 'explorer/less/pages/feed.less';
@import 'explorer/less/pages/grid.less';
@import 'explorer/less/pages/list.less';
@import 'explorer/less/pages/main.less';
@import 'explorer/less/pages/map.less';
@import 'explorer/less/pages/results.less';
@import 'core/less/animations.less';
@import 'core/less/controls.less';
@import 'core/less/flexbox.less';
@import 'core/less/fonts.less';
@import 'core/less/mixins.less';
@import 'core/less/mobile.less';
@import 'core/less/tables.less';
@import 'core/less/components/cards.less';
@import 'core/less/components/search-bar.less';
@import 'core/less/pages/connections.less';
@import 'core/less/pages/home.less';
@import 'core/less/pages/login.less';
@import 'core/less/pages/providers.less';
@import 'core/less/pages/settings.less';
@import 'core/less/pages/signup.less';
@import 'core/less/shims/icons.less';

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 10px;

	.pt-sans;

	color: @font-color;
}

h1 {
	font-size: 2em;
	margin: 0 0 0.5em 0;
}

h2 {
	font-size: 1.65em;
	margin: 0 0 0.5em 0;
}

h3 {
	font-size: 1.5em;
	margin: 0 0 0.5em 0;
}

p {
	margin: 0 0 0.5em 0;
	line-height: 140%;
}

body {
	padding: 0;
	margin: 0;
	min-height: 100%;

	font-size: 1.3em;

	.flex;
	.flex-column;

	& > main {
		.flex-grow;
	}
}

header {
	.raleway;

	a:not(.privacy-policy, .terms-of-use) {
		color: lighten(@font-color, 15%);
		font-size: 1.2em;

		&.active {
			color: @color2;
		}

		&:hover {
			color: @color1;
		}
	}

	nav {
		@margin-width: 10px;

		padding: 5px 0;

		.flex;
		.flex-x-center;

		a {
			white-space: nowrap;

			cursor: pointer;
			.no-select;

			@media @mobile-portrait {
				margin: 0 0.5em;
			}
		}

		& > * {
			margin: 0 @margin-width;
		}

		& > :first-child {
			margin-left: @margin-width * 2;

			@media @mobile {
				margin-left: @margin-width;
			}
		}

		& > :last-child {
			margin-right: @margin-width * 2;

			@media @mobile {
				margin-right: @margin-width;
			}
		}
	}
}

.inbox:after {
	background-color: @color3;
	color: @light;

	border: 2px solid @light;
}

#content {
	.flex;
	.flex-grow;

	main {
		.flex;
		.flex-column;
		.flex-grow;

		//& > *:only-child {
		//	.flex-grow;
		//}
	}
}

footer {
	padding: 15px;
	font-size: 75%;

	@media @mobile {
		margin-top: 4em;
	}

	.align-center;
}

a {
	text-decoration: none;
}

#home {
	.flex-grow;
}

.logo {
	height: 40px;
}

#links {
	.flex;

	@media @mobile {
		display: none;
	}

	& > * {
		margin: 0 0.5em;
	}
}

#menu {
	.flex-column;
	.flex-grow;

	display: none;
	top: 0;
	background-color: @light;
	position: absolute;
	z-index: 30;
	right: 0;
	min-width: 300px;

	&.open {
		.flex;

		width: 25%;
		height: 100%;

		@media @mobile {
			width: 90%;
		}
	}

	.menu-header {
		.flex;
		.flex-column;
		.flex-grow;

		a {
			display: block;
			padding: 0.5em;
			font-size: 1.2em;
			color: lighten(@dark, 45%);
		}

		& > a {
			font-size: 1.6em;

			&:hover {
				color: @color4;
			}
		}

		& > :last-child {
			border-bottom: 1px solid darken(@light, 15%);
		}

		.title {
			padding: 0.5em;

			background-color: darken(@light, 10%);
			font-weight: bold;

			font-size: 1.2em;

			border-top: none;
		}

		.view {
			.flex;
			.flex-wrap;
			.flex-space-between;
		}

		.view-selector {
			cursor: pointer;

			@media @mobile {
				font-size: 2em;
			}

			&.active {
				color: @color2;
			}
			&:hover {
				color: @color1;
			}
			&.disabled {
				cursor: default;
				color: darken(@light, 20%);
			}

			&[data-selector="map"] {
				@media @mobile {
					display: none;
				}
			}
		}

		#close-menu {
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			padding: 0.5em;
			font-size: 1.2em;

			&:hover {
				color: @color3;
			}
		}

		.view-bar, .sort-bar {
			&.disabled {
				display: none !important;
			}
		}
	}
}

#menu {
	> .menu-footer {
		> .user-info {
			.flex;
			.flex-row;
			.flex-space-between;

			font-size: 1.2em;

			> div {
				margin: 0.5em;
			}

			> a {
				margin: 0.5em;
			}
		}

		> .bitscoop-footer {
			.flex;
			.flex-row;
			.flex-center;

			margin: 0 0.5em;
			font-family: 'PT Sans', Arial, Helvetica, sans-serif !important;;
			font-size: 10px !important;
			color: lighten(@dark, 45%) !important;

			span.spacer {
				margin: 0 5px;
			}
		}

		a {
			color: lighten(@dark, 45%) !important;

			&:hover {
				color: @color1 !important;
			}
		}
	}
}

footer {
	> .bitscoop-footer {
		.flex;
		.flex-column;
		.flex-end;
		.flex-x-center;

		width: 250px;
		margin: 0 auto;
		font-family: 'PT Sans', Arial, Helvetica, sans-serif !important;
		font-size: 10px !important;
		color: lighten(@dark, 45%) !important;

		.footer-links {
			.flex;
			.flex-row;
			.align-center;

			margin: 0.5em;

			span.spacer {
				margin: 0 5px;
			}
		}
	}

	a {
		color: lighten(@dark, 45%) !important;

		&:hover {
			color: @color1 !important;
		}
	}
}

#menu-button {
	display: flex;
	cursor: pointer;
	font-size: 2.5em;
}

#back-to-results {
	cursor: pointer;
	font-size: 3.5em;
	color: @color1;
	margin: -5px 10px -5px 20px;

	@media @mobile {
		margin: -5px 10px;
	}
}

.boxed-group,
#menu {
	@border-color: darken(@light, 15%);
	@border-radius: 2px;

	border: 1px solid @border-color;
	border-radius: @border-radius @border-radius 0 0;

	&:last-child {
		margin-bottom: 0;
	}

	& > * {
		border-top: 1px solid @border-color;
	}
}

.boxed-group {
	margin-bottom: 15px;

	& > :first-child {
		padding: 6px 15px;

		background-color: darken(@light, 5%);
		font-weight: bold;

		font-size: 1.2em;

		border-top: none;
	}
}

.inbox {
	position: relative;

	&:after {
		display: inline-flex;

		.flex-center;
		.flex-x-center;

		position: absolute;
		top: -0.65em;
		right: -1.1em;

		font-size: 0.25em;

		border-radius: 5em;

		padding: 0.5em;
		min-width: 1em;

		content: attr(data-count);
	}
}

@media @mobile {
	input[type="radio"] {
		margin: 1em 1em;
	}
}

@media @mobile {
	input[type="checkbox"] {
		margin: 1em 1em;
	}
}

.success {
	color: forestgreen;
}

.success-icon {
	color: forestgreen;
	opacity: 0;

	transition: opacity 250ms ease;

	&.shown {
		opacity: 1;
	}
}

.error,
.errorlist {
	color: firebrick;
}

ul.errorlist {
	text-align: left;
}

.modal {
	width: 50% !important;
}

.g-recaptcha {
	@margin: 1.5em;

	position: relative;
	left: -1px;

	margin-top: @margin;
	margin-bottom: @margin;

	&.centered {
		& > div > div {
			.position-center;
		}
	}
}

input[type='radio'], input[type='checkbox'] {
	@media @mobile {
		transform: scale(2);
	}
}

.show-on-mobile {
	display: none;

	@media @mobile {
		.flex;
	}
}
