<div class="detail flex flex-column">
	<div class="icon-{{ event.provider_name|lower }}"></div>
	<div class="what detail">
		<div class="what title">What</div>
		{% for content in event.content %}
		<div class="what instance">
			<div class="title-type flex">
				<div class="flex-grow">
					{{ content.title }}
				</div>
				<div class="flex-grow">
					{{ content.type|title }}
				</div>
			</div>
			<div class="preview">
				{{ content.url }}
			</div>
			<div class="content-text">
				{{ content.text }}
			</div>
			<div class="owner">
				{{ content.owner }}
			</div>
			<div class="url">
				{{ content.url }}
			</div>
			<div class="extension">
				{{ content.extension }}
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="who detail">
		<div class="who title">Who</div>
		{% for contact in event.contacts %}
		<div class="who instance">
			<div class="names flex">
				<div class="flex-grow">
					{{ contact.name }}
				</div>
				<div class="flex-grow">
					{{ contact.handle }}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="when detail flex">
		<div class="when title">When</div>
		<div class="datetime flex-grow">
			{{ datetime }}
		</div>
	</div>
</div>
