<!doctype html>
<html>
<head>
	<title>Ografy oBase Input Test Forms</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">

	var formPost = function(formId, submitHandeler) {
		$form = $(formId);
		$form.submit(submitHandeler);
	}

    var eventSubmitHandler = function(Event) {
        $form = $(this).closest('form');
        $.post('/obase/event', {
            'id' : $('event-id'),
            'signal_id' : $('event-signal-id'),
            'user_id' : $('event-used-id'),
            'provider_id' : $('event-provider-id'),
            'provider_name' : $('event-provider-name')
        }).done(function(data, xhr, response){
            $.('event-result')
        });
    }

	$(function() {

		formPost('event-form', eventSubmitHandler)

	};
</script>
</head>
<body>
<h1>Ografy oBase Input Test Forms</h1>

<h4>Event</h4>

<form action="#" method="post" id="event-form">{% csrf_token %}
	<div>
		<label>Signal ID:</label>
		<select id="event-signal-id" name="event-signal-id" type="text" value="1">
		</select>
	</div>
	<div>
		<label>User ID:</label>
		<select id="event-user-id" name="event-user-id" type="text" value="1">
		</select>
	</div>
	<div>
		<label>Provider ID:</label>
		<select id="event-provider-id" name="event-provider-id" type="text" value="1">
		</select>
	</div>
	<div>
		<label>Provider Name:</label>
		<select id="event-provider-name" name="event-provider-name" type="text" value="1">
		</select>
	</div>
    	<div>
		<label>Data:</label>
		<select id="event-data" name="event-data" type="text" value="1">
		</select>
	</div>

	<input type="submit" value="Add Event">
</form>

<p>
	<strong>Add Event Result Data:</strong>
	<span id="event-result"></span>
</p>



</body>
</html>
