{% extends 'shared/dispatcher.html' %}

{% block content %}
<h1>User</h1>

<p>You're seeing all this information because this is your profile.</p>
{% if user.handle %}
<p>Your public profile is accessible <a href="{% url 'core_user_profile' user.handle %}">here</a>.</p>
{% else %}
<p>You do not have a public profile URL because you have not yet chosen a handle.</p>
{% endif %}
<p class="bottom-space">
	<b>Note:</b> We'll support changing all of this information very soon.
	For now it's just displayed for your records.
</p>

<p><b>Email:</b> {{ user.email }}</p>
<p><b>Handle:</b> {{ user.handle|default_if_none:'' }}</p>
<p><b>First Name:</b> {{ user.first_name }}</p>
<p><b>Last Name:</b> {{ user.last_name }}</p>
{% endblock %}
