{% extends 'shared/dispatcher.html' %}
{% load staticfiles %}

{% block static %}
{{ block.super }}
<script type="text/javascript" src="{% static 'core/js/signals.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/icomoon/fonticons.css' %}"/>

<style type="text/css">

	.icon-align {
		height: 100px;
		width: 100px;
		vertical-align: middle;
	}

	.menu-item {
		color: white;
		padding: 5px 0px;
	}

	.menu-item:hover {
		text-decoration: none;
		background-color: white;
		color: #0E9D58;
		opacity: 0.8;
	}

	.menu-header {
		color: white;
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.menu-container {
		min-width: 170px;
		padding: 10px;
		background-color:#0E9D58;
		opacity:0.8;
	}

	.signal-button, input[type=submit], input[type=button], .submit-row input{

		border-radius: 10px;
		background-color: #E0E0E0;
		font-size: 30px;
		font-weight: bold;
		height: 300px;
		margin-bottom: 25px;
		margin-left: 25px;
		padding: 10px;
		text-align: center;
		width: 300px;

		cursor: pointer;
		-webkit-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, -webkit-box-shadow 0.25s ease;
		transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
	}

	.signal-button:hover{
		text-decoration: none;
		background-color: #D0D0D0;
	}

	.signal-grid {
		flex-wrap: wrap;
		justify-content: centered;
		padding-top: 25px;
	}

</style>
{% endblock %}

{% block main %}
<div class="flex row" style="overflow: hidden">
	{% block left %}
	<div class="menu-container">
		<div class="menu-header">Categories</div>
		<label class="flex menu-item" name="entertainment">
			<input name="Media" type="checkbox"/>
			Media
		</label>
		<label class="flex menu-item" name="personal-data">
			<input name="Personal" type="checkbox"/>
			Personal Data
		</label>
		<label class="flex menu-item" name="productivity">
			<input name="Productivity" type="checkbox"/>
			Productivity
		</label>
		<label class="flex menu-item" name="social media">
			<input name="Social" type="checkbox"/>
			Social Media
		</label>
		<label class="flex menu-item" name="storage">
			<input name="Storage" type="checkbox"/>
			Storage
		</label>
	</div>
	{% endblock %}

	{% block content %}
	<div class="flex row centered signal-grid">
		<a class="signal-button" name="facebook">
			<i class="icon-align icon-facebook"></i>
			Facebook
		</a>
		<a class="signal-button" name="twitter">
			<i class="icon-align icon-twitter"></i>
			Twitter
		</a>
		<a class="signal-button" name="amazon">
			Amazon
		</a>
		<a class="signal-button" name="dropbox">
			<i class="icon-align icon-dropbox"></i>
			Dropbox
		</a>
		<a class="signal-button" name="fitbit">
			FitBit
		</a>
		<a class="signal-button" name="foursquare">
			<i class="icon-align icon-foursquare2"></i>
			FourSquare
		</a>
		<a class="signal-button" name="github">
			<i class="icon-align icon-github3"></i>
			GitHub
		</a>
		<a class="signal-button" name="google">
			<i class="icon-align icon-googleplus"></i>
			Google+
		</a>
		<a class="signal-button" name="instagram">
			<i class="icon-align icon-instagram"></i>
			Instagram
		</a>
		<a class="signal-button" name="linkedin">
			<i class="icon-align icon-linkedin"></i>
			LinkedIn
		</a>
		<a class="signal-button" name="reddit">
			<i class="icon-align icon-reddit"></i>
			reddit
		</a>
		<a class="signal-button" name="spotify">
			<i class="icon-align icon-spotify"></i>
			Spotify
		</a>
		<a class="signal-button" name="stackoverflow">
			<i class="icon-align icon-stackoverflow"></i>
			Stack Overflow
		</a>
		<a class="signal-button" name="steam">
			<i class="icon-align icon-steam2"></i>
			Steam
		</a>
		<a class="signal-button" name="tumblr">
			<i class="icon-align icon-tumblr"></i>
			tumblr
		</a>
		<a class="signal-button" name="vimeo">
			<i class="icon-align icon-vimeo"></i>
			Vimeo
		</a>

		<div>
			<label>Logged in:</label>
			<select class="full-width" name="logged-in-backend"></select>

			<div>
				<label>Access token:</label>
				<input class="full-width" name="access_token" type="text" value=""
					   placeholder="OAuth1 or OAuth2 access token">
			</div>

			<div>
				<label>Access token secret:</label>
				<input class="full-width" name="access_token_secret" type="text" value=""
					   placeholder="OAuth1 access token secret">
			</div>

			<a class="signal-button" name="ajax-login" href="#">Ajax Login</a>

			<input class="full-width" name="api-call-url" type="text"
				   value="https://graph.facebook.com/v2.1/me?fields=friends"/>
			<a class="signal-button" name="ajax-call" href="#">Ajax API Call</a>
		</div>
	</div>
	{% endblock %}
</div>{% endblock %}