body.explorer.feed {
	#grid-scroll {
		#list {
			.flex-column;
			flex-wrap: inherit;
			height: inherit;
		}
	}

	.object-details {
		margin: 0.5em auto;
		min-width: 40%;

		@media @mobile {
			margin: 0 0 1em 0;
		}

		& img {
			width: 50%;
		}
	}
}