body.explorer.list {
	#list-container {
		.flex;
		.flex-grow;

		@media @mobile-portrait {
			.flex-column-reverse;
		}

		#left {
			.flex;
			position: relative;

			&:not(.expanded) {
				#map,
				#details {
					display: none;
				}
			}

			&.expanded {
				top: 0;
				left: 0;
				box-shadow: inset 0 0 15px fade(@dark, 25%);

				width: 25%;
				min-width: 400px;
				height: inherit;
				overflow-y: auto;

				@media @mobile-portrait {
					.flex-grow;

					width: 100%;
					min-width: 0;
					border-right: 0;
					border-top: 5px solid @input-border-color
				}
			}
		}

		#list {
			display: table !important;
			table-layout: fixed;
			border-collapse: collapse;
			border: 0;

			height: 100%;
			width: 100%;
			margin: 0;
			background-color: @light;

			@media @mobile{
				& .icon-column {
					width: 1.7em;
					padding: 0;

					& i > {
						margin: 0 auto;
					}
				}
			}
		}

		#list:empty {
			display: flex !important;
		}

		#map {
			position: absolute;
			left: 0;
			bottom: 0;
			height: 50%;
			width: 100%;
			border-top: 1px solid @input-border-color;
		}
	}
}
