header {
	& > #search-bar {
		width: 50%;
		min-width: 400px;

		#filter-controls {
			& > div {
				top: 20px;
			}

			@media @mobile {
				.control[data-type="where"] {
					display: none;
				}
			}
		}
	}

	& > nav {
		.view-bar {
			.flex;

			justify-content: space-around;
			font-size: 1.2em;
			margin: 0;

			&.disabled {
				display: none !important;
			}

			.view-selector {
				margin: 0 0.35em;
				cursor: pointer;

				&.active {
					color: @color2;
				}

				&:hover {
					color: @color4;
				}

				&.disabled {
					cursor: default;
					color: darken(@light, 20%);
				}

				& > span {
					font-weight: bold;
					margin-left: 0.2em;
				}
			}
		}
	}

	& > .sort-bar {
		.flex;
		.flex-space-between;
		.flex-x-center;

		background-color: @background1;
		color: @light;

		.sort-selector {
			padding: 0.5em 4em 0.5em 0;

			&:hover {
				color: @color4;
			}
		}

		.view-selector {
			.flex;

			font-weight: bold;
			text-transform: uppercase;
			padding: 0.25em;
			font-size: 1.2em;
			margin-left: 20px;
			align-items: baseline;

			cursor: pointer;

			&:hover {
				color: @color4;
			}

			& > span {
				font-weight: bold;
				margin-left: 0.2em;
			}
		}


		.facet {
			margin-left: 3px
		}

		&.disabled {
			display: none !important;
		}
	}
}

.leaflet-right {
	z-index: 20 !important;
}

body.explorer {
	header {
		border-bottom: 1px solid @input-border-color;
	}

	.type-grid {
		.flex;
		.flex-wrap;
		.flex-x-start;

		height: 100%;
		max-height: 100%;
		border: 0;
	}

	.type-grid:empty, #grid:empty {
		display: flex !important;
	}

	.leaflet-control-container {
		a {
			&.highlight {
				background-color: @color4;
			}
		}
	}

	.mapbox-logo {
		display: none !important;
	}

	&.grid, &.results, &.list, &.feed {
		#background {
			.flex;
			.flex-grow;
			flex-direction: column;
			overflow-y: auto;
			position: relative;

			box-shadow: inset 0 0 10px fade(@dark, 15%);
		}

		#grid-scroll, #list-scroll, #details-scroll {
			position: absolute;
			margin: 0;
			border: 0;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			max-height: 100%;
			width: 100%;
		}
	}

	#details {
		.flex;
		.flex-column;
		.flex-space-between;
		background-color: lighten(@dark, 25%);
		color: @light;
		min-height: 100%;

		iframe {
			background-color: @light;
		}

		.event-detail-container {
			display: flex;
			flex-flow: column;

			.event-left, .event-center, .event-right {
				padding-bottom: 0;
			}

			.event-left, .event-right {
				width: 100%;
			}

			.event-center {
				border: 10px solid lighten(@dark, 25%);
			}
		}
	}

	&.feed {
		.event-detail-container {
			margin: 10px;
			border: 5px solid lighten(@dark, 25%) !important;

			@media @mobile {
				margin: 0;
			}
		}
	}

	.event-detail-container {
		display: flex;
		flex-flow: row;
		width: 100%;
		background-color: lighten(@dark, 25%);
		border: 5px solid lighten(@dark, 25%);

		@media @mobile {
			flex-flow: column;
			align-items: center;
		}

		.event-left {
			.flex;
			.flex-column;
			.flex-space-between;

			order: 1;
			width: 300px;

			@media @mobile {
				align-content: center;
				width: 98%;
			}

			color: @light;
			background-color: lighten(@dark, 25%);
		}

		.event-center {
			.flex;
			.flex-column;
			flex-grow: 1;
			align-content: center;

			order: 2;

			width: 100%;
			color: lighten(@dark, 35%);
			background-color: @light;

			@media @mobile {
				border: 0;
				width: 98%;
			}

			.content-detail, .thing-detail {
				.flex;
				.flex-column;
				flex-grow: 1;
				align-items: center;

				:last-child {
					border-bottom: none;
				}

				> div {
					width: 95%;
					border-bottom: 1px solid lighten(@dark, 35%);
				}
			}
		}

		.event-right {
			.flex;
			.flex-column;
			.flex-space-between;
			order: 3;
			width: 400px;

			background-color: darken(@light, 10%);
			color: @dark;

			@media @mobile {
				width: 98%;
			}
		}
	}
}

body.explorer.grid {
	#background {
		background-color: darken(@light, 5%);

		#grid-scroll {
			.flex;
			.flex-column;
		}
	}

	#list {
		.flex;
		.flex-wrap;
		.flex-x-start;
		border: 0;

		justify-content: center;
		margin: 0;
	}

	#map {
		position: relative;
		left: 0;
		bottom: 0;
		min-height: 20em;
		width: 25%;
		border-top: 0;

		@media @mobile {
			width: 100%;
		}
	}
}

.sort-fields {
	.flex;
	.flex-space-around;
	.flex-wrap;

	text-transform: uppercase;
	flex-grow: 0;
	font-weight: bold;
	cursor: pointer;

	& > .sort-selector {
		@media @mobile {
			font-size: 1.2em;
			padding: 0.5em;
		}

		&:hover {
			color: @color4;
			border-color: @color4;
		}
	}
}

.awesome-marker {
	cursor: pointer;
}

.hidden-beta {
	display: none;
}
