body.explorer.results {
	#background {
		background-color: darken(@light, 5%);

		#grid-scroll {
			.flex;
			flex-direction: column;
		}

		.results {
			.flex;

			.more-select {
				.no-select;
				.flex;
				.flex-column;
				.flex-x-center;
				.flex-center;

				padding: 0;
				margin: 1em;
				cursor: pointer;

				color: fade(darken(@font-color, 10%), 65%);

				i {
					font-size: 8em;
				}

				div {
					font-size: 2em;
					font-weight: 900;
				}
			}
		}
	}

	.type-grid {
		.flex;
		.flex-grow;

		margin: 0 2em;

		@media @mobile {
			margin: 0;
			justify-content: center;
		}
	}

	.type-header {
		.no-select;
		.flex;
		.flex-center;
		.flex-x-center;
		.flex-space-between;

		cursor: pointer;
		background-color: @background1;
		margin: 0.5em;
		color: @light;

		padding: 0.25em 0.5em;
		font-size: 2em;
		text-transform: uppercase;
		font-weight: bold;

		& > .more-select {
			color: @light;
			.flex-row-reverse;
			font-size: 1em;
			margin: 0;

			i {
				font-size: 2em;
				margin-left: 0.25em;
			}

			div {
				font-size: 1em;
			}
		}
	}
}
