{% load staticfiles %}
<!doctype html>
<html>
<head>
	<title>Ografy oBase Input Test Forms</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% block static %}
    <script type="text/javascript" src="{% static 'test_obase/test.js' %}"></script>
    {% endblock %}
</head>
<body>
<h1>Ografy oBase Input Test Forms</h1>

<h4>Event</h4>

<form id="event-form" class="action" action="#" method="POST">{% csrf_token %}
    <div>
        <label>Event ID:</label>
        <input name="event-db-id" type="text" value="4">
        </input>
    </div>
	<div>
		<label>Signal ID:</label>
		<input name="event-signal-id" type="text" value="101">
		</input>
	</div>
	<div>
		<label>User ID:</label>
		<input name="event-user-id" type="text" value="202">
		</input>
	</div>
	<div>
		<label>Provider ID:</label>
		<input name="event-provider-id" type="text" value="303">
		</input>
	</div>
	<div>
		<label>Provider Name:</label>
		<input name="event-provider-name" type="text" value="Facebook">
		</input>
	</div>
    <div>
		<label>Datetime:</label>
		<input name="event-datetime" type="datetime-local" value="2014-11-09T23:20">
		</input>
	</div>
    <div>
		<label>Created:</label>
		<input name="event-created" type="datetime-local" value="2014-11-09T23:20">
		</input>
	</div>
    <div>
		<label>Updated:</label>
		<input name="event-updated" type="datetime-local" value="2014-11-09T23:20">
		</input>
	</div>
    <div>
		<label>Data:</label>
		<input name="event-data" type="text" value='{"cool":"pants"}'>
		</input>
	</div>
    <div>
        <label>Location:</label>
        <input name="event-location" type="text" value="4">
        </input>
    </div>

	<input type="submit" value="Post Event" data-method="POST" />
    <input type="submit" value="Update Event" data-method="PUT" />
</form>

<p>
	<strong>Add Event Result Data:</strong>
	<span id="event-result"></span>
</p>



</body>
</html>
