<div class="sort-button">
	<i class="icon-sort-amount-desc"></i>
</div>
<div class="flex column menu hidden">
	<div id="provider_name" class="item">
		Provider
		<i></i>
	</div>
	<div id="datetime" class="item">
		Date/Time
		<i></i>
	</div>
	<div id="name" class="item">
		Name
		<i></i>
	</div>
</div>
<div>
	<i class="previous-page {% if sort.total_results == 0 or sort.start_index == 1 %}disabled {% endif %}icon-triangle-left"></i>
</div>
<div class="result">
	{% if sort.mobile %}
		{{ sort.total_results }} [{{ sort.start_index }}-{{ sort.end_index }}]
	{% else %}
		{{ sort.total_results }} Results - Showing {{ sort.start_index }} to {{ sort.end_index }}
	{% endif %}
</div>
<div>
	<i class="next-page {% if sort.total_results == 0 or sort.end_index == sort.total_results %}disabled {% endif %}icon-triangle-right"></i>
</div>