{% extends 'shared/dispatcher.html' %}

{% block content %}
<section class="lockwidth centered">
	<h2>Update your password</h2>
	<div>
		<form action="{% url 'core_account_password' %}" method="POST">
			{% csrf_token %}
			<div>
				<input type="password" name="password" placeholder="Password" />
				{{ form.password.errors }}
			</div>
			<div>
				<input type="password" name="new_password" placeholder="New password" />
				{{ form.new_password.errors }}
			</div>
			<div>{{ form.non_field_errors }}</div>
			<input class="ui button positive" type="submit" value="Update" />
		</form>
	</div>
</section>
{% endblock %}
