{% extends 'core/base.html' %}


{% block static %}
	{{ block.super }}

	<style type="text/css">
		#footer {
			font-size: 0.65em;
			padding: 15px 30px;
		}
	</style>
{% endblock %}


{% block header %}
	{% include 'core/components/header.html' with mode='home' %}
{% endblock %}


{% block main %}
	<div class="flex flex-column flex-grow flex-x-center">
		<div class="align-center" style="margin: 5% 0 3% 0;">
			<h1>{{ user.first_name }} {{ user.last_name }}</h1>
			<div><img id="profile-pic-large" src="https://avatars3.githubusercontent.com/u/2207290?v=3&s=460" /></div>
		</div>

		<div class="flex-grow" style="width: 33%">
			{% include 'core/components/search-bar.html' with placeholder='find yourself' %}
		</div>
	</div>
{% endblock %}


{% block outer_footer %}
	<div id="footer" class="flex flex-space-between align-center">
		<div>
			<div><i class="fa fa-star-o fa-3x"></i></div>
			<div>Featured</div>
		</div>
		<div>
			<div><i class="fa fa-inbox fa-3x inbox" data-count="5"></i></div>
			<div>Inbox</div>
		</div>
		<div>
			<div><i class="fa fa-heart-o fa-3x"></i></div>
			<div>Favorites</div>
		</div>
	</div>
{% endblock %}
