{% extends 'shared/base.html' %}
{% load staticfiles %}

{% block static %}
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" />

<script type="text/javascript" src="{% static 'lib/jquery/jquery-2.0.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/moment/moment-2.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/d3/d3-3.3.11.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/lodash/lodash-2.4.1.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'lib/tastydata/tastydata.js' %}"></script>-->
<script type="text/javascript" src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/nvd3/nv.d3.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/nvd3/nv.d3.css' %}" />

<script type="text/javascript" src="{% static 'plugins/jquery/jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery/waypoints-2.0.3.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'plugins/jquery/jquery.parallax.min.js' %}"></script>-->

<link rel="stylesheet" type="text/css" href="{% static 'demo/css/dashboard.css' %}" />
<script type="text/javascript" src="{% static 'demo/js/dashboard.js' %}"></script>
{% endblock %}


{% block body %}
<header id="header">
	<div>
		<span style="font-size: 2em;">Ografy</span>
		{% block header %}{% endblock %}
	</div>
</header>

<aside id="settings">
	<ul>
		<li>
			<input type="checkbox" data-filter=".social" checked>Social</input>
		</li>
		<li>
			<input type="checkbox" data-filter=".professional" checked>Professional</input>
		</li>
		<li>
			<input type="checkbox" data-filter=".financial" checked>Financial</input>
		</li>
		<li>
			<input type="checkbox" data-filter=".summary" checked>Summary</input>
		</li>
	</ul>
</aside>

<img id="menu-toggle" src="{% static 'demo/img/menu2.svg' %}" />

<section id="content">
	{% block content %}{% endblock %}
</section>
{% endblock %}
