#drawer-container {
	height: 0;
	width: 100%;
	left: 0;
	top: 0;

	#drawer {
		.flex;
		.flex-center;
		.flex-wrap;

		position: relative;
		display: none;
		overflow: hidden;
		padding: 10px;
		background-color: lighten(@color1, 40%);

		@media @mobile {
			flex-direction: column;
		}
	}
}
