#drawer-container {
	height: 0;
	width: 100%;
	left: 0;
	top: 0;

	#drawer {
		z-index: 2;
		color: @light;
		position: relative;
		display: none;
		width: 100%;

		iframe {
			background-color: @light;
		}

		background-color: lighten(@dark, 25%);
		box-shadow: inset 0 0 15px fade(@dark, 25%);

		> .object-details {
			margin: auto;
		}
	}
}
