{% extends 'core/base.html' %}


{% block static %}
	{{ block.super }}

	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block main %}
	<form action="{% url 'signup' %}" method="POST">
		<div class="boxed-group">
			<div>Sign up for BitScoop</div>

			<div>
				{% csrf_token %}

				<div class="text-box">
					<input type="text" name="email" placeholder="Email" value="{{ form.email.value|default_if_none:'' }}" {% if autofocus %}autofocus {% endif %}/>
				</div>
				<div>
					{{ form.email.errors }}
				</div>

				<div class="text-box">
					<input type="text" name="handle" placeholder="Username (optional)" value="{{ form.handle.value|default_if_none:'' }}" />
				</div>
				<div>
					{{ form.handle.errors }}
				</div>

				<div class="text-box">
					<input type="text" name="first_name" placeholder="First name" value="{{ form.first_name.value|default_if_none:'' }}" />
				</div>
				<div>
					{{ form.first_name.errors }}
				</div>

				<div class="text-box">
					<input type="text" name="last_name" placeholder="Last name" value="{{ form.last_name.value|default_if_none:'' }}" />
				</div>
				<div>
					{{ form.last_name.errors }}
				</div>

				<div class="text-box">
					<input type="password" name="password" placeholder="Password" />
				</div>
				<div>
					{{ form.password.errors }}
				</div>

				<div>
					{{ form.non_field_errors }}
				</div>
			</div>
		</div>

		<div class="g-recaptcha centered" data-sitekey="6Ld3Ng0TAAAAAJp-bx-xCX7dMfYLq-5Zf8Cdowod"></div>

		<div>
			<input class="button-green" type="submit" value="Sign up" />
		</div>
	</form>
{% endblock %}
