<div class="action">
	<share-button></share-button>
	<div class="google-maps">
		<a href="{{ GoogleMapsURL }}" target="_blank">
			<div class="fa fa-map"></div>
		</a>
		<a href="{{ GoogleMapsNavURL }}" target="_blank">
			<div class="fa fa-location-arrow"></div>
		</a>
	</div>
	<div class="wolfram">
		<a href="{{ WolframCalcURL }}" target="_blank">
			<div class="fa fa-calculator"></div>
		</a>
		<a href="{{ WolframClockURL }}" target="_blank">
			<div class="fa fa-clock-o"></div>
		</a>
		<a href="{{ WolframLocSearchURL }}" target="_blank">
			<div class="fa fa-list-alt"></div>
		</a>
	</div>
	<div class="weather">
		<a href="{{ WeatherURL }}" target="_blank">
			<div class="fa fa-sun-o"></div>
		</a>
	</div>
</div>
