<!DOCTYPE html>
<html lang="en-US">
	<head>{% load staticfiles %}
		<meta charset="UTF-8" />

		<title>{% block title %}{% endblock %}</title>

		{% include 'components/metatags.html' %}

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700|PT+Sans:400,400italic,700,700italic|Quicksand:400,300|Raleway:400|Roboto:300,400,700|Source+Sans+Pro:300,400,700" />

		<link rel="stylesheet" type="text/css" href="{% static 'css/site.min.css' %}"/>
	</head>
	<body class="errors">
		{% if not user.is_authenticated %}
			<header>
				<a href="{% url 'login' %}"><button>Login</button></a>
				<a href="{% url 'signup' %}"><button>Sign Up</button></a>
			</header>
		{% endif %}

		<main>
			<div id="splash">
				<a href="{% url 'home' %}"><img src="https://d233zlhvpze22y.cloudfront.net/1457056861/images/error-page-bitscoop-logo.png" /></a>
				<h1>bitScoops...</h1>
			</div>

			{% block main %}{% endblock %}
		</main>

		<footer>
			{% block footer %}
			<div class="copyright">&copy; 2016 BitScoop Labs, Inc.</div>
			<div class="footer-links">
				{% if not request.user.is_authenticated %}
				<a href="{% url 'login' %}">Log In</a>
				<span class="spacer"> | </span>
				<a href="{% url 'signup' %}">Sign Up</a>
				<span class="spacer"> | </span>
				{% endif %}
				<a class="support-link" target="_blank" href="{% url 'support' %}">Support</a>
				<span class="spacer"> | </span>
				<a class="privacy-policy" href="{% url 'privacy' %}">Privacy</a>
				<span class="spacer"> | </span>
				<a class="terms-of-use" href="{% url 'terms' %}">Terms</a>
			</div>
			{% endblock %}
		</footer>
	</body>
</html>
