<div id="search-bar" class="input-group">
	{% if not hide_advanced %}
		<div id="advanced">
			<i class="fa fa-caret-down"></i>
		</div>

		<div id="filter-controls">
			<div id="filter-editor">
				<div id="filter-buttons">
					<div class="control" data-type="who">
						<i class="fa fa-user"></i>
					</div>

					<div class="control" data-type="what">
						<i class="fa fa-picture-o"></i>
					</div>

					<div class="control" data-type="when">
						<i class="fa fa-clock-o"></i>
					</div>

					<div class="control disabled" data-type="where">
						<i class="fa fa-globe"></i>
					</div>

					<div class="control" data-type="connector">
						<i class="fa fa-plug"></i>
					</div>
				</div>

				<div id="filter-values">
					<div id="filter-name" class="hidden">
						<div class="text-box">
							<input type="text" name="name" />
						</div>
					</div>

					<form class="who">
						<div>
							Contact:
						</div>

						<div class="text-box">
							<input type="text" name="contact" />
						</div>

						<div>
							Interaction:
						</div>

						<div class="input-container blockify">
							<label for="who-type-1"><input id="who-type-1" type="radio" name="interaction" value="" checked />Any</label>
							<label for="who-type-2"><input id="who-type-2" type="radio" name="interaction" value="to" />To</label>
							<label for="who-type-3"><input id="who-type-3" type="radio" name="interaction" value="from" />From</label>
							<label for="who-type-4"><input id="who-type-4" type="radio" name="interaction" value="with" />With</label>
						</div>
					</form>

					<form class="what">
						<div>
							Type:
						</div>

						<div class="input-container">
							<select name="type">
								<option></option>
								<option value="audio">Audio</option>
								<option value="code">Code</option>
								<option value="file">File</option>
								<option value="game">Game</option>
								<option value="photo">Photo</option>
								<option value="text">Text</option>
								<option value="video">Video</option>
								<option value="web-page">Web Page</option>
							</select>
						</div>
					</form>

					<form class="when">
						<div>
							From:
						</div>

						<div class="text-box">
							<input type="date" name="from" />
						</div>

						<div>
							To:
						</div>

						<div class="text-box">
							<input type="date" name="to" />
						</div>
					</form>

					<form class="where">
						<!--<div>
							Distance:
						</div>

						<div class="text-box">
							<input type="text" name="distance" />
						</div>-->

						<div>
							Area:
						</div>

						<div class="input-container blockify">
							<label for="where-type-1"><input id="where-type-1" type="radio" name="geometry" value="inside" checked />Inside</label>
							<label for="where-type-2"><input id="where-type-2" type="radio" name="geometry" value="outside" />Outside</label>
						</div>
					</form>

					<form class="connector">
						<!--<div>
							Provider:
						</div>

						<div class="input-container">
							<select name="provider">
								<option></option>
							</select>
						</div>-->

						<div>
							Connection:
						</div>

						<div class="input-container">
							<select name="connection">
								<option></option>
							</select>
						</div>
					</form>
				</div>
			</div>

			<div id="filter-list" class="flex-grow"></div>
		</div>
	{% endif %}

	<form id="query-form" action="{% if action %}{{ action }}{% else %}{% url 'home' %}{% endif %}" method="POST" class="flex-grow">
		<div id="search-box" class="text-box">
			<input id="search-query" type="text" name="search" {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} />
		</div>

		<input class="hidden" type="submit" />
	</form>

	{% if not hide_filters %}
		<div id="filters"></div>
		<div id="filter-overflow-count"></div>
	{% endif %}

	<div id="search-button">
		<i class="fa fa-search"></i>
	</div>
</div>
