{% extends 'core/settings/base.html' %}

{% load staticfiles %}


{% block static %}
{{ block.super }}

<script type="text/javascript">
	require(['accountSettings']);
</script>
{% endblock %}


{% block settings %}
			<div class="boxed-group">
				<div>
					Profile Settings
				</div>

				<div class="padded">
					<form action="{% url 'settings:account' %}">
						<div class="bold">
							Handle
						</div>

						<div class="text-box shrink">
							<input class="autoformEnabled" type="text" name="handle" value="{{ form.handle.value|default_if_none:'' }}" />
						</div>

						<div name="handle_update"></div>
					</form>
				</div>
			</div>

		<div class="boxed-group">
			<div>
				Password Settings
			</div>

			<div class="padded">
				<form action="{% url 'settings:account' %}">
					<div class="bold">
						Current Password
					</div>

					<div class="text-box shrink">
						<input type="password" name="current_password" value="{{ form.current_password.value|default_if_none:'' }}" />
					</div>

					<div name="password_update"></div>

					<div class="bold">
						New Password
					</div>

					<div class="text-box shrink">
						<input type="password" name="new_password" value="{{ form.new_password.value|default_if_none:'' }}" />
					</div>

					<div class="bold">
						New Password Repeated
					</div>

					<div class="text-box shrink">
						<input type="password" name="new_password_repeated" value="{{ form.new_password_repeated.value|default_if_none:'' }}" />
					</div>

					<div name="password_errors"></div>

					<input type="button" name="update_password" value="Update Password"/>
				</form>
			</div>
		</div>

		<div class="boxed-group">
			<div>
				Deactivate Account
			</div>
		</div>

		<div class="boxed-group">
			<div>
				Delete Account
			</div>
		</div>
{% endblock %}
