{% extends 'core/base.html' %}


{% block static %}
	{{ block.super }}

	<link rel="stylesheet" type="text/css" href="https://d3buhrktqnvzt8.cloudfront.net/minimodal/0.1.2/minimodal-0.1.2.css" />
{% endblock %}


{% block header %}
	{% include 'core/components/header.html' with mode='home' %}
{% endblock %}


{% block main %}
	<aside id="left">
		<div id="settings-menu" class="boxed-group">
			<div>Settings</div>

			<div>
				<a href="{% url 'settings:profile' %}">Profile</a>
			</div>

			<div>
				<a href="{% url 'settings:account' %}">Account</a>
			</div>

			<div>
				<a href="{% url 'settings:connections' %}">Connections</a>
			</div>
		</div>
	</aside>

	<section id="settings">
		{% block settings %}{% endblock %}
	</section>
{% endblock %}
