{% extends 'core/base.html' %}


{% block header %}
	{% include 'core/components/header.html' with mode='home' %}
{% endblock %}


{% block main %}
	<aside id="left">
		<div id="menu" class="boxed-group">
			<div>Settings</div>

			<div>
				<a href="{% url 'settings:profile' %}">Profile</a>
			</div>

			<div>
				<a href="{% url 'settings:account' %}">Account</a>
			</div>

			<div>
				<a href="{% url 'settings:emails' %}">Emails</a>
			</div>

			<div>
				<a href="{% url 'settings:notifications' %}">Notifications</a>
			</div>

			<div>
				<a href="{% url 'settings:signals' %}">Connections</a>
			</div>

			<div>
				<a href="{% url 'settings:security' %}">Security</a>
			</div>

			<div>
				<a href="{% url 'settings:location' %}">Location</a>
			</div>

			<div>
				<a href="{% url 'settings:billing' %}">Billing</a>
			</div>
		</div>
	</aside>

	<section id="settings">
		{% block settings %}{% endblock %}
	</section>
{% endblock %}
