{% extends 'core/settings/base.html' %}

{% load staticfiles %}


{% block static %}
	{{ block.super }}

	<script type="text/javascript">
		require(['profileSettings']);
	</script>
{% endblock %}


{% block settings %}
	<form action="{% url 'settings:profile' %}" method="PATCH">
		<div class="boxed-group">
			<div>
				Profile Settings
			</div>

			<div class="padded">
				<div class="bold">
					First Name
				</div>

				<div class="text-box shrink">
					<input class="autoformEnabled" type="text" name="first_name" value="{{ form.first_name.value|default_if_none:'' }}" />
				</div>

				<div class="bold">
					Last Name
				</div>

				<div class="text-box shrink">
					<input class="autoformEnabled" type="text" name="last_name" value="{{ form.last_name.value|default_if_none:'' }}" />
				</div>

				<div class="bold">
					Email
				</div>

				<div class="text-box shrink">
					<input class="autoformEnabled" type="text" name="email" value="{{ form.email.value|default_if_none:'' }}" />
				</div>
			</div>
		</div>
	</form>
{% endblock %}
