{% extends 'settings/base.html' %}

{% load staticfiles %}


{% block static %}
	{{ block.super }}

	<script type="text/javascript">
		require(['account-settings']);
	</script>
{% endblock %}


{% block settings %}
	<div class="boxed-group">
		<div>Profile Settings</div>

		<div class="padded">
			<form class="auto" action="{% url 'settings:account-handle' %}">
				<div class="flexbox flex-x-center label">
					<div>Handle</div>
					<i class="fa fa-check-circle flex-grow success-icon" data-for="handle"></i>
				</div>
				<div class="text-box shrink">
					<input type="text" name="handle" value="{{ request.user.handle|default_if_none:'' }}" />
				</div>
				<div class="errorlist" data-for="handle"></div>
			</form>
		</div>
	</div>

	<div class="boxed-group">
		<div>Password Settings</div>

		<div class="padded">
			<form id="password-update-form" action="{% url 'settings:account-password' %}" method="POST">
				<div class="label">Current Password</div>
				<div class="text-box shrink">
					<input type="password" name="current_password" />
				</div>
				<div class="errorlist" data-for="current_password"></div>

				<div class="label">New Password</div>
				<div class="text-box shrink">
					<input type="password" name="new_password" />
				</div>
				<div class="errorlist" data-for="new_password"></div>

				<div class="label">New Password Repeated</div>
				<div class="text-box shrink">
					<input type="password" name="new_password_repeated" />
				</div>
				<div class="errorlist" data-for="new_password_repeated"></div>

				<div id="update-password" class="flexbox flex-x-center">
					<button type="submit">Update Password</button>
					<i class="fa fa-check-circle flex-grow success-icon" data-for="password"></i>
				</div>
			</form>
		</div>
	</div>

	<div class="boxed-group">
		<div>Deactivate Account</div>

		<div class="padded paragraphed">
			<p>
				You can deactivate your BitScoop account indefinitely.
				We'll hang onto your data in case you decide to reactivate.
				All data collection will be disabled while you're away.
			</p>

			<div>
				<button id="deactivate" class="danger" data-action="{% url 'settings:account-deactivate' %}">Deactivate Account</button>
			</div>
		</div>
	</div>

	<aside id="deactivate-modal" class="modal modal-close">
		<div class="container">
			<div class="scroller">
				<div class="content">
					<i class="modal-close close-button"></i>

					<div class="body">
						<div class="paragraph">
							<h3>Deactivate Your BitScoop Account</h3>
							<p>Are you sure you'd like to deactivate your BitScoop account?</p>
							<p>We'll stop collecting data on your behalf and you'll be logged out of the system.</p>
							<p>You may re-activate your account at any time simply by logging back in.</p>
						</div>

						<button>No, Cancel</button>
						<button class="danger confirm">Yes, Deactivate</button>
					</div>
				</div>
			</div>
		</div>
	</aside>

	<div class="boxed-group">
		<div>Delete Account</div>

		<div class="padded paragraphed">
			<p>
				You can delete your BitScoop account for good.
				We'll clear all the data you've collected and shared.
				Note that it may take some time for us to clear your data completely from archived database backups.
			</p>

			<div>
				<button id="delete" class="danger">Delete Account</button>
			</div>
		</div>
	</div>

	<aside id="delete-modal" class="modal modal-close">
		<div class="container">
			<div class="scroller">
				<div class="content">
					<i class="modal-close close-button"></i>

					<div class="body">
						<div class="paragraph">
							<h3>Delete Your BitScoop Account</h3>
							<p>Are you sure you'd like to delete your BitScoop account?</p>
							<p>We'll delete all the data we've collected and you'll no longer be able to log in.</p>
						</div>

						<button>No, Cancel</button>
						<button class="danger confirm">Yolo, Delete</button>
					</div>
				</div>
			</div>
		</div>
	</aside>
{% endblock %}
