{% extends 'settings/base.html' %}

{% load staticfiles %}


{% block static %}
	{{ block.super }}

	<script type="application/javascript">
		require(['location-settings']);
	</script>
{% endblock %}


{% block settings %}
	<form class="auto" action="{% url 'settings:location' %}">
		<div class="boxed-group">
			<div>Live Locations</div>

			<div class="padded paragraphed">
				<div class="flexbox flex-x-center">
					<label><input class="flag" type="checkbox" name="allow_location_collection" {% if settings.allow_location_collection %}checked{% endif %}>Ask for permission to get live locations</label>
					<i class="fa fa-check-circle flex-grow success-icon" data-for="allow_location_collection"></i>
				</div>

				<div>
					Enabling live locations allows BitScoop to read your location every 10 minutes.
					Some events aren't recorded with a location, so we use these locations to generate better estimates for you.
					You'll still be able to disallow location within the BitScoop app.
					Disabling live locations here will just let us know we shouldn't bother to ask.
				</div>
			</div>
		</div>

		<div class="boxed-group">
			<div>Show Estimated Locations</div>

			<div class="padded paragraphed">
				<div>
					<label><input type="checkbox" name="show_estimated_locations" value="true" disabled>Show estimated locations by default</label>
				</div>

				<div>
					When we don't have location data about a particular event we do our best to estimate it.
					Depending on the quality of the data we receive our estimates may be good... or somewhat spotty.
					We allow you to toggle the visibility of these estimated locations on our map.
					This setting will set the default visibility of events with estimated locations.
				</div>
			</div>
		</div>

		<div class="boxed-group">
			<div>Re-estimate Locations</div>

			<div class="padded paragraphed">
				<div>
					Much of your data that BitScoop collects does not have information on where it occurred.
					When we collect it, we estimate the locations using the method you have chosen above.
					Re-estimating the locations may produce more accurate results if new location data has been added to your account.
					This is disabled for five days following each re-estimation since it is computationally expensive.
				</div>

				<div>
					{% if new_estimate_allowed %}
					<button class="estimate">Re-estimate</button>
					{% else %}
					<button disabled>Re-estimation available at {{ next_estimate_date }}</button>
					{% endif %}
				</div>
			</div>
		</div>
	</form>
{% endblock %}
