{% extends 'settings/base.html' %}

{% load staticfiles %}


{% block static %}
	{{ block.super }}

	<script type="text/javascript">
		require(['profile-settings']);
	</script>
{% endblock %}


{% block settings %}
	<div class="boxed-group">
		<div>Profile Settings</div>

		<div class="padded">
			<form class="auto" action="{% url 'settings:profile' %}" method="PATCH">
				<div class="flexbox flex-x-center label">
					<div>First Name</div>
					<i class="fa fa-check-circle flex-grow success-icon" data-for="first_name"></i>
				</div>
				<div class="text-box shrink">
					<input type="text" name="first_name" value="{{ form.first_name.value|default_if_none:'' }}" />
				</div>
				<div class="errorlist" data-for="first_name">
					{{ form.first_name.errors }}
				</div>

				<div class="flexbox flex-x-center label">
					<div>Last Name</div>
					<i class="fa fa-check-circle flex-grow success-icon" data-for="last_name"></i>
				</div>
				<div class="text-box shrink">
					<input type="text" name="last_name" value="{{ form.last_name.value|default_if_none:'' }}" />
				</div>
				<div class="errorlist" data-for="last_name">
					{{ form.last_name.errors }}
				</div>

				<div class="flexbox flex-x-center label">
					<div>Gender</div>
					<i class="fa fa-check-circle flex-grow success-icon" data-for="gender"></i>
				</div>
				<div>
					<label><input type="radio" name="gender" value="male"{% if form.gender.value|lower == 'male' %} checked {% endif %} />Male</label>
					<br/>
					<label><input type="radio" name="gender" value="female"{% if form.gender.value|lower == 'female' %} checked{% endif %} />Female</label>
					<br/>
					<label><input type="radio" name="gender" value="other"{% if form.gender.value|lower != 'male' and form.gender.value|lower != 'female' %} checked{% endif %} />Other</label>
				</div>
				<div id="other-gender" class="text-box shrink" {% if form.gender.value|lower == 'male' or form.gender.value|lower == 'female' %} display: none; {% endif %}">
					<input type="text" name="other_gender"{% if form.gender.value|lower != 'male' and form.gender.value|lower != 'female' %} value="{{ form.gender.value|default_if_none:'' }}" {% endif %} />
				</div>
				<div class="errorlist" data-for="gender">
					{{ form.gender.errors }}
				</div>

				<div class="flexbox flex-x-center label">
					<div>Birthday</div>
					<i class="fa fa-check-circle flex-grow success-icon" data-for="birthday"></i>
				</div>
				<div>
					<div class="text-box shrink">
						<input type="date" name="birthday" value="{{ form.birthday.value|default_if_none:''|date:'Y-m-d' }}" />
					</div>
				</div>
				<div class="errorlist" data-for="birthday">
					{{ form.birthday.errors }}
				</div>

				<input class="hidden" type="submit" />
			</form>
		</div>
	</div>
{% endblock %}
