{% extends 'settings/base.html' %}


{% block settings %}
	<div class="boxed-group">
		<div>
			Application Keys
		</div>
	</div>

	<div class="boxed-group">
		<div>
			Allowed Networks
		</div>
	</div>

	<div class="boxed-group">
		<div>
			Active Sessions
		</div>
	</div>

	<div class="boxed-group">
		<div>
			Two-factor Authentication
		</div>
	</div>

	<div class="boxed-group">
		<div>
			SMS
		</div>
	</div>

	<div class="boxed-group">
		<div>
			Image Key
		</div>
	</div>

	<div class="boxed-group">
		<div>
			Recovery Keys
		</div>
	</div>
{% endblock %}
