{% extends 'core/dispatcher.html' %}

{% block content %}
<section class="lockwidth centered">
	<article class="backfill padded">
		<h1 class="center">{{ article.title | safe }}</h1>

		<div class="table full-width">
			<div>
				<div class="left">
					{{ article.posted | date }}{% if article.author %} by <a href="{% url 'user_profile' article.author.oid %}">{{ article.author.get_full_name }}</a>{% endif %}

				</div>
				<div class="right">
					{% for tag in article.tags.all|dictsort:'name' %}
						{{ tag.name }}{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<hr style="margin:1em 0 2em 0;"/>

		{% block article %}{% endblock %}
	</article>
</section>
{% endblock %}
