{% extends 'shared/dispatcher.html' %}
{% load staticfiles %}

{% block static %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'core/js/providers.js' %}"></script>
{% endblock %}


{% block left %}
	<ul class="links" id="filters">
		<li><span data-filter=".collaboration">Collaboration</span></li>
		<li><span data-filter=".development">Development</span></li>
		<li><span data-filter=".fitness">Fitness</span></li>
		<li><span data-filter=".gaming">Gaming</span></li>
		<li><span data-filter=".health">Health</span></li>
		<li><span data-filter=".media">Media</span></li>
		<li><span data-filter=".music">Music</span></li>
		<li><span data-filter=".productivity">Productivity</span></li>
		<li><span data-filter=".social">Social</span></li>
		<li><span data-filter=".video">Video</span></li>
	</ul>
{% endblock %}

{% block content %}
	<div id="isotope-container">
		{% for provider in providers %}
			<a href="{{ connect_url }}/{{ provider.id }}" class="signal-button {{ provider.tags }} {% if provider.associated_signal %}provider-associated{% endif %}" name="provider-{{ provider.backend_name }}">

				<div class="provider-name">
					<i class="icon-{{ provider.backend_name }}"></i>
					{{ provider.name }}
				</div>
				<div class="provider-description">
					{{ provider.description }}
				</div>
				{% if provider.associated_signal %}
					<div class="provider-count">
						{{ provider.assoc_count }}
					</div>
				{% endif %}
			</a>
		{% endfor %}
	</div>
{% endblock %}
