<div class="flex grow" data-filter-type="{{ type }}" data-{{ type }}-id={{ id }} {% if type == 'where' %}data-map-id={{ context.mapId}} data-where-type={{ context.whereType }}{% endif %}>
	<div class="save">
		Save
	</div>
	{% if type == 'who' %}
	<input class="namehandle" placeholder="Name" value="{{ context.name }}">
	<select class="contactInteractionType">
		<option value="Any">Any</option>
		<option value="To" {% if context.contactInteractionType == 'To' %}selected{% endif %}>To</option>
		<option value="From" {% if context.contactInteractionType == 'From' %}selected{% endif %}>From</option>
		<option value="With" {% if context.contactInteractionType == 'With' %}selected{% endif %}>With</option>
	</select>
	{% elif type == 'what' %}
	<select class="contentType">
		<option value="Photo" {% if context.contentType == 'Photo' %}selected{% endif %}>Photo</option>
		<option value="Video" {% if context.contentType == 'Video' %}selected{% endif %}>Video</option>
		<option value="Game" {% if context.contentType == 'Game' %}selected{% endif %}>Game</option>
		<option value="Audio" {% if context.contentType == 'Audio' %}selected{% endif %}>Audio</option>
		<option value="Text" {% if context.contentType == 'Text' %}selected{% endif %}>Text</option>
		<option value="Code" {% if context.contentType == 'Code' %}selected{% endif %}>Code</option>
		<option value="File" {% if context.contentType == 'File' %}selected{% endif %}>File</option>
	</select>
	{% elif type == 'where' %}
	{% if context.whereType == 'area' %}
	<select class="modifier">
		<option value="Inside" {% if context.modifier == 'Inside' %}selected{% endif %}>Inside</option>
		<option value="Outside" {% if context.modifier == 'Outside' %}selected{% endif %}>Outside</option>
	</select>
	{% elif context.whereType == 'radius' %}
	<select class="modifier">
		<option value="Within" {% if context.modifier == 'Within' %}selected{% endif %}>Within</option>
		<option value="Outside" {% if context.modifier == 'Outside' %}selected{% endif %}>Outside</option>
	</select>
	<input class="radius" placeholder="radius" value="{{ context.radius }}">
	<select class="distanceUnit">
		<option value="Miles" {% if context.unit == 'Miles' %}selected{% endif %}>Miles</option>
		<option value="Kilometers" {% if context.unit == 'Kilometers' %}selected{% endif %}>Kilometers</option>
	</select>
	{% endif %}
	{% elif type == 'when' %}
	<div class="flex column">
		<div class="flex">
			<div class="datePrefix">Start</div>
			<input class='startDate' type="datetime-local" value={{ context.startDate }}>
		</div>
		<div class="flex">
			<div class="datePrefix">End</div>
			<input class='endDate' type="datetime-local" value={{ context.endDate }}>
		</div>
	</div>
	{% elif type == 'how' %}
	<select class="providerName">
		{% for signal in context.signals %}
		<option value="{{ signal.provider.name }}" {% if context.providerName == signal.provider.name %} selected{% endif %}>{{ signal.provider.name }}</option>
		{% endfor %}
	</select>
	{% endif %}
	<div class="space grow"></div>
	<div class="close content">
		X
	</div>
</div>
