{% extends 'shared/dispatcher.html' %}

{% block static %}
{{ block.super }}
<style type="text/css">
	.menu-item {
		padding: 5px;
	}

	.menu-item:hover {
		text-decoration: none;
		background-color: #0E9D58;
		color: #FFFFFF;
		opacity: 0.8;
	}


	.grouping {
		margin-top: 10px;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #0E9D58;
	}


	.menu-header {
		color: #0E9D58;
		font-size: 1.5em;
		font-weight: bold;
		padding: 5px;
		padding-bottom: 10px;
	}


</style>
{% endblock %}

{% block left %}
<div style="padding-right:20px">
	<div class="menu-header">Account Settings</div>
	<a class="flex menu-item" href="{% url 'core_settings_personal' %}">Personal Info</a>
	<a class="flex menu-item" href="{% url 'core_settings_security' %}">Security</a>
	<a class="flex menu-item" href="{% url 'core_settings_signals' %}">Signals</a>
</div>
{% endblock %}
