{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />

		<title>{{ title }}</title>
		<link rel="shortcut icon" href="{% static 'assets/favicon.png' %}" />
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'core/css/site.css' %}" />

		<script type="text/javascript" src="{% static 'lib/jquery/jquery-2.0.3.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/moment/moment-2.3.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/d3/d3-3.3.11.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/lodash/lodash-2.4.1.min.js' %}"></script>
		<!--<script type="text/javascript" src="{% static 'lib/tastydata/tastydata.js' %}"></script>-->
		
		<script type="text/javascript" src="{% static 'plugins/jquery/jquery.scrollTo.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'plugins/jquery/waypoints-2.0.3.min.js' %}"></script>
		<!--<script type="text/javascript" src="{% static 'plugins/jquery/jquery.parallax.min.js' %}"></script>-->
		
		<script type="text/javascript" src="{% static 'core/js/site.js' %}"></script>
		
		<!--<script type="text/javascript">
			var api = odata('/odata/v1');
			models = api.models;
		</script>-->
	</head>
	<body>
		<header id="header">
			<div class="lock-width">
				<img src="{% static 'assets/logo.png' %}" style="width:150px;" />
				{% block header %}{% endblock %}
			</div>
		</header>
		
		<section id="content">
			{% block content %}{% endblock %}
		</section>

		<footer id="footer" class="bg-dark">
			<div class="lock-width center">
				&copy 2013-2014 Ografy, LLC.
			</div>
		</footer>
	</body>
</html>