{% extends 'shared/dispatcher.html' %}
{% load staticfiles %}

{% block static %}
{{ block.super }}
<script type="text/javascript" src="{% static 'shared/js/tooltip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'shared/js/paths.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jutsu/jutsu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'shared/js/site.min.js' %}"></script>
<script type="text/javascript">
	require(['jutsu', 'tooltip', 'site', 'jquery-cookie'], function(jutsu, tooltip, site) {
		$('body').autoform('.autoformEnabled', {'X-CSRFToken': $.cookie('csrftoken')});

		tooltip.bindTooltip('.tooltip-trigger', '.tooltip-close');
		site.scrollToContent();
	});
</script>
{% endblock %}

{% block left %}
<div class="association-workflow">
	<div class="workflow-step {% if current == 'connect' %}current{% else %}complete{% endif %}">
		<div class="title-align">
			<i class="workflow-icon icon-link"></i>
			<div class="workflow-title">Connect to {{ provider.name }}</div>
		</div>
		<div class="workflow-description">Connect your {{ provider.name }} account to your Ografy account</div>
	</div>
	<div class="workflow-step {% if current == 'authorize' %}current{% elif current == 'connect'%}upcoming{% else %}complete{% endif %}">
		<div class="title-align">
			<i class="workflow-icon icon-uniF75F"></i>
			<div class="workflow-title">Authorize Access</div>
		</div>
		<div class="workflow-description">Authorize your {{ provider.name }} account's connection to Ografy</div>
	</div>
	<div class="workflow-step {% if current == 'verify' %}current{% else %}upcoming{% endif %}">
		<div class="title-align">
			<i class="workflow-icon icon-check"></i>

			<div class="workflow-title">Verify Settings</div>
		</div>
		<div class="workflow-description">Ensure that your connection settings to {{ provider.name }} are correct</div>
	</div>
</div>
{% endblock %}
