{% extends 'shared/dispatcher.html' %}
{% load staticfiles %}

{% block static %}
{{ block.super }}
<script type="text/javascript" src="{% static 'shared/js/site.min.js' %}"></script>
<script type="text/javascript">
	require(['jquery', 'site', 'jquery-mixitup'], function($, site) {
		$(document).ready(function() {
			site.bindProviderUtilities();
		});
	});
</script>
{% endblock %}

{% block sub-header %}
<div class="grid-filters">
	<div class="grid-filter-placeholder"><div class="placeholder-text">All</div></div>
	<div class="filter" data-filter="all"><div class="filter-text">All</div></div>
</div>
{% endblock %}

{% block content %}
<div class="overflow-y-hidden">
	<div class="modal">
		<div class="modal-dialog">
			<div class="modal-header">
				<div class="btn-close">×</div>
			</div>
			<div class="modal-body">
				<p>For now, Ografy only supports connecting one account per provider.</p>
			</div>
		</div>
	</div>
	<div class="grid container" id="provider-grid">
		{% for provider in providers %}
		<div class="mix provider-button {{ provider.tags }} {% if provider.associated_signal %}provider-associated{% endif %}" data-link="{% url 'core_connect' name=provider.url_name %}" name="provider-{{ provider.backend_name }}">
			<div class="provider-name">
				<i class="icon-{{ provider.backend_name }}"></i>
				<div>{{ provider.name }}</div>
			</div>
			{% if provider.associated_signal %}
			<div class="provider-count">Connected</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}