{% extends 'core/settings/base.html' %}
{% load staticfiles %}

{% block static %}
{{ block.super }}
{% endblock %}

{% block left %}
	<div class="flex column steps">
		<div class="step">
			<div class="content">
				<div class="title-align">
					<i class="block icon-link step-icon"></i>

					<div class="title">Connect to {{ signal.provider.name }}</div>
				</div>
				<div class="description">Connect your {{ signal.provider.name }} account to your Ografy account</div>
			</div>
		</div>
		<div class="step">
			<div class="content">
				<div class="title-align">
					<i class="step-icon icon-uniF75F"></i>
					<div class="title">Authorize Access</div>
				</div>
				<div class="description">Authorize your {{ signal.provider.name }} account's connection to Ografy</div>
			</div>
		</div>
		<div class="active step">
			<div class="content">
				<div class="title-align">
					<i class="step-icon icon-check"></i>
					<div class="title">Verify Settings</div>
				</div>
				<div class="description">Ensure that your connection settings to {{ provider.name }} are correct</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="step-verify">
		<div class="grouping">
			<div class="bigger">Verify {{ signal.provider.name }} Connection Settings</div>
			<div>
				<div class="grouping-content">
					<span>Details and stuff about connection settings to {{ signal.provider.name }}</span>
				</div>
				<span class="bold">Name your connection to {{ signal.provider.name }}</span>
				<form>
					<input class="text-input-width" name="signal-name" type="text" name="email" value='{{ signal.name }}'/>
				</form>
			</div>
		</div>
		<div class="grouping">
			<div class="bigger">{{ signal.name }} Authorized Endpoints</div>
			<div>
				{% for endpoint_definition, authorized_endpoint in endpoint_list.items %}
				<div name="{{ endpoint_definition.name }}" data-endpoint-definition-id="{{ endpoint_definition.id }}" data-authorized-endpoint-id="{% if not authorized_endpoint == None %}{{ authorized_endpoint.id }}{% else %}None{% endif %}" class="endpoint-definition-toggle">
					<input type="checkbox"
						{% if initial_verification %}
							{% if endpoint_definition.enabled_by_default %}
							checked="checked"
							{% endif %}
						{% else %}
							{% if not authorized_endpoint == None and authorized_endpoint.enabled %}
							checked="checked"
							{% endif %}
						{% endif %}
					>
					<div>{{ endpoint_definition.name }}</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="grouping">
			<div class="bigger">Frequency of {{ signal.name }} Data Updates</div>
			<div class="form">
				<div class="grouped fields" id="frequency">
					<div class="title">
						Select the frequency you would like this service to update
					</div>
					<div class="field">
						<div>
							<input updateFrequency=0 type="radio" name="update-frequency" {% if signal.frequency == 0 %}checked="checked"{% endif %}>
							<label class="premium-message">Premium On Demand</label>
						</div>
					</div>
					<div class="field">
						<div>
							<input updateFrequency=1 type="radio" name="update-frequency" {% if signal.frequency == 1 %}checked="checked"{% endif %}>
							<label>Daily</label>
						</div>
					</div>
					<div class="field">
						<div>
							<input updateFrequency=2 type="radio" name="update-frequency" {% if signal.frequency == 2 %}checked="checked"{% endif %}>
							<label>Weekly</label>
						</div>
					</div>
					<div class="field">
						<div>
							<input updateFrequency=3 type="radio" name="update-frequency" {% if signal.frequency == 3 %}checked="checked"{% endif %}>
							<label>Manual</label>
						</div>
					</div>
					<div class="field">
						<div>
							<input updateFrequency=4 type="radio" name="update-frequency" {% if signal.frequency == 4 %}checked="checked"{% endif %}>
							<label>Once</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<input class="bold button-green verified-complete-button" type="button" value="Complete Connection to {{ signal.name }}" onclick="verifiedSignal('{{ signal.id }}')"/>
		</div>
	</div>
{% endblock %}
