<div class="flex flex-column flex-center flex-x-center" style="color: #2bc1de; margin-bottom: 1em;">
	<div style="margin: 0.8em;">
		<img src="https://d233zlhvpze22y.cloudfront.net/1457056861/images/logo/logo.svg" style="width: 200px;" />
	</div>

	<div style="position: relative;">
		<h1 style="font-family: Quicksand; font-weight: 400; font-size: 3em;">bitScoop</h1>
		<span style="position: absolute; top: 8px; right: -12px; font-size: 0.65em;">TM</span>
	</div>

	<div style="text-transform: uppercase; font-family: Quicksand; font-size: 1.8em; margin-top: -0.8em; font-weight: 300;">Beta</div>
</div>
