{% load staticfiles %}


{% if mode == 'app' or mode == 'home' %}
	<nav>
		{% if mode == 'app' %}
			<a href="{% url 'home' %}"><img id="logo" src="https://d1j1f384sln5mu.cloudfront.net/1443324625/assets/images/logo_240.png" /></a>
			{% include 'core/components/search-bar.html' %}

			<a href="{% url 'explorer:main' %}"><i class="fa fa-table"></i></a>
			<a href="{% url 'explorer:main' %}"><i class="fa fa-map-o"></i></a>
			<a href="{% url 'explorer:main' %}"><i class="fa fa-list"></i></a>
		{% else %}
			<a href="{% url 'home' %}"><img id="logo" src="https://d1j1f384sln5mu.cloudfront.net/1443324625/assets/images/logo-text.png" /></a>
		{% endif %}

		<span class="flex-grow"></span>

		<a href="#"><i class="fa fa-question-circle"></i></a>
		<a href="{% url 'providers' %}"><i class="fa fa-plus"></i></a>
		<a href="{% url 'settings:base' %}"><i class="fa fa-cog"></i></a>

		<a id="handle-link" href="#">{{ request.user.identifier }}</a>
		<a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
	</nav>
{% elif mode == 'provider' %}
	<nav>
		<a href="{% url 'home' %}"><img id="logo" src="https://d1j1f384sln5mu.cloudfront.net/1443324625/assets/images/logo-text.png" /></a>

		<span class="flex-grow"></span>

		<div class="flex flex-x-center">
			{% include 'core/components/search-bar.html' with hide_advanced=True hide_filters=True placeholder='Search connections' action='' %}
			<button id="done" class="primary">Done</button>
		</div>
	</nav>
{% else %}
	<nav>
		<a href="{% url 'home' %}"><img id="logo" src="https://d1j1f384sln5mu.cloudfront.net/1443324625/assets/images/logo-text.png" /></a>

		<span class="flex-grow"></span>

		<a href="#">About</a>
		<a href="{% url 'providers' %}">Providers</a>

		{% if not request.user.is_authenticated %}
			<a href="{% url 'login' %}">Log In</a>
			<a href="{% url 'signup' %}">TRY NOW!</a>
		{% else %}
			<a href="{% url 'explorer:main' %}">Explore</a>
		{% endif %}
	</nav>
{% endif %}
