{% load staticfiles %}


{% if mode == 'app' or mode == 'home' %}
	{% include 'core/components/menu-drawer.html' with mode=mode %}
	<nav>
		{% if mode == 'app' %}
			<a id="home" href="{% url 'home' %}"><img id="home" class="logo" src="https://d233zlhvpze22y.cloudfront.net/1457056861/images/logo/logo.svg" /></a>
			<a id="back-to-results" class="hidden"><i class="fa fa-arrow-circle-left"></i></a>
			{% include 'core/components/search-bar.html' %}
		{% else %}
			<a id="home" href="{% url 'home' %}"><img class="logo" src="https://d233zlhvpze22y.cloudfront.net/1457056861/images/logo/logo-name.svg" /></a>
		{% endif %}

		<div class="view-bar" style="display: none">
			<a class="view-selector" data-selector="feed"><i class="fa fa-clone disabled"></i></a>
			<a class="view-selector" data-selector="grid"><i class="fa fa-th disabled"></i></a>
			<a class="view-selector" data-selector="list"><i class="fa fa-list disabled"></i></a>
			<a class="view-selector" data-selector="map"><i class="fa fa-map-o disabled"></i></a>
		</div>

		<div id="menu-button"><div class="fa fa-bars"/></div>
	</nav>
	<div class="sort-bar" style="display: none">
		<div class="view-selector" data-selector="results">
			<span>Results / </span>
			<div class="facet"></div>
		</div>
		<div class="sort-fields"></div>
	</div>
{% elif mode == 'provider' %}
	{% include 'core/components/menu-drawer.html' with mode=mode %}
	<nav>
		<a id="home" href="{% url 'home' %}"><img class="logo" src="https://d233zlhvpze22y.cloudfront.net/1457056861/images/logo/logo-name.svg" /></a>

		<span class="flex-grow"></span>

		<div class="flex flex-x-center">
{#			{% include 'core/components/search-bar.html' with hide_advanced=True hide_filters=True placeholder='Search connections' action='' %}#}
			<button id="done" class="primary">Done</button>
		</div>

		<div id="menu-button"><div class="fa fa-bars"/></div>
	</nav>
{% else %}
	<nav>
		<a id="home" href="{% url 'home' %}"><img class="logo" src="https://d233zlhvpze22y.cloudfront.net/1457056861/images/logo/logo-name.svg" /></a>

		<span class="flex-grow"></span>

{#		<a href="#">About</a>#}
{#		<a href="{% url 'providers' %}">Providers</a>#}

		{% if not request.user.is_authenticated %}
{#			<a href="{% url 'login' %}">Log In</a>#}
{#			<a href="{% url 'signup' %}">TRY NOW!</a>#}
		{% else %}
			<a href="{% url 'explorer:main' %}">Explore</a>
		{% endif %}
	</nav>
{% endif %}
