<div id="menu">
	<div class="menu-header">
		<div id="close-menu">
			<i class="fa fa-times"></i>
		</div>
		{% if mode == 'app' %}
			<div class="view-bar">
				<div class="title">
					<a class="view-selector" data-selector="results">
						<i class="fa fa-arrow-circle-left"></i>
						<span>Results</span>
					</a>
				</div>
				<div class="view">
					<div class="flex">
						<a class="view-selector" data-selector="feed"><i class="fa fa-clone disabled"></i></a>
						<a class="view-selector" data-selector="grid"><i class="fa fa-th disabled"></i></a>
						<a class="view-selector" data-selector="list"><i class="fa fa-list disabled"></i></a>
						<a class="view-selector" data-selector="map"><i class="fa fa-map-o disabled"></i></a>
					</div>
				</div>
			</div>
			<div class="sort-bar">
				<div class="title"></div>
				<div class="sort-fields"></div>
			</div>
		{% endif %}
		<div class="title">Menu</div>
		<!--<a id="handle-link" href="/"><i class="fa fa-home"></i> {{ request.user.identifier }}</a>-->
		<!-- TODO: Add active styling instead of removing current view link-->
		{% if mode != 'app' %}
			<a class="explorer-highlight" href="{% url 'explorer:main' %}"><i class="fa fa-th-large"></i> Explorer</a>
		{% endif %}
		<a class="provider-highlight" href="{% url 'providers' %}"><i class="fa fa-plus"></i> Connections</a>
		<a class="settings-highlight" href="{% url 'settings:base' %}"><i class="fa fa-cog"></i> Settings</a>
	</div>
	{% if mode == 'app' %}
	<div class="menu-searches">
		<div class="title">Favorite this search</div>
		<input type="text" name="search-name" placeholder="Name the current search">
		<div class="icon-container">
			<div class="icon-preview"></div>
			<div class="selectors">
				<div>Icon</div>
				<select name="icon">
					<option value="none">No Icon</option>
					<option value="fa fa-tag">&#xf02b; Tag</option>
					<option value="fa fa-square">&#xf0c8; Square</option>
					<option value="fa fa-circle">&#xf111; Circle</option>
					<option value="fa fa-star">&#xf005; Star</option>
					<option value="fa fa-certificate">&#xf0a3; Certificate</option>
					<option value="fa fa-check">&#xf00c; Check</option>
					<option value="fa fa-user">&#xf007; User</option>
					<option value="fa fa-users">&#xf0c0; Users</option>
					<option value="fa fa-bar-chart">&#xf080; Bar Chart</option>
					<option value="fa fa-bell">&#xf0f3; Bell</option>
					<option value="fa fa-briefcase">&#xf0b1; Briefcase</option>
					<option value="fa fa-calendar">&#xf073; Calendar</option>
					<option value="fa fa-camera-retro">&#xf083; Camera</option>
					<option value="fa fa-code">&#xf121; Code</option>
					<option value="fa fa-copy">&#xf0c5; Copy</option>
					<option value="fa fa-cutlery">&#xf0f5; Cutlery</option>
					<option value="fa fa-desktop">&#xf108; Desktop</option>
					<option value="fa fa-dollar">&#xf155; Dollar</option>
					<option value="fa fa-file-code-o">&#xf1c9; File/Code</option>
					<option value="fa fa-file-image-o">&#xf1c5; File/Image</option>
					<option value="fa fa-file-text-o">&#xf0f6; File/Text</option>
					<option value="fa fa-files-o">&#xf0c5; Files</option>
					<option value="fa fa-film">&#xf008; Film</option>
					<option value="fa fa-filter">&#xf0b0; Filter</option>
					<option value="fa fa-gamepad">&#xf11b; Gamepad</option>
					<option value="fa fa-glass">&#xf000; Glass</option>
					<option value="fa fa-globe">&#xf0ac; Globe</option>
					<option value="fa fa-hashtag">&#xf292; Hashtag</option>
					<option value="fa fa-headphones">&#xf025; Headphones</option>
					<option value="fa fa-heart">&#xf004; Heart</option>
					<option value="fa fa-heartbeat">&#xf21e; Heartbeat</option>
					<option value="fa fa-history">&#xf1da; History</option>
					<option value="fa fa-home">&#xf015; Home</option>
					<option value="fa fa-image">&#xf03e; Image</option>
					<option value="fa fa-inbox">&#xf01c; Inbox</option>
					<option value="fa fa-map-marker">&#xf041; Map Marker</option>
					<option value="fa fa-music">&#xf001; Music</option>
					<option value="fa fa-paw">&#xf1b0; Paw</option>
					<option value="fa fa-phone">&#xf095; Phone</option>
					<option value="fa fa-puzzle-piece">&#xf12e; Puzzle Piece</option>
					<option value="fa fa-smile-o">&#xf118; Smiley</option>
					<option value="fa fa-soccer-ball-o">&#xf1e3; Soccer Ball</option>
					<option value="fa fa-commenting-o">&#xf27b; Speech Bubble</option>
					<option value="fa fa-thumbs-o-up">&#xf087; Thumbs Up</option>
					<option value="fa fa-tree">&#xf1bb; Tree</option>
					<option value="fa fa-tv">&#xf26c; TV</option>
					<option value="fa fa-video-camera">&#xf03d; Video Camera</option>
					<option value="fa fa-wrench">&#xf0ad; Wrench</option>
				</select>
				<div>Icon Color</div>
				<select name="color" style="background-color:#b6bbbf">
					<option name="gray" value="#b6bbbf"></option>
					<option name="green" value="#61bd4f"></option>
					<option name="yellow" value="#f2d600"></option>
					<option name="orange" value="#ffab4a"></option>
					<option name="red" value="#eb5a46"></option>
					<option name="purple" value="#a232cb"></option>
					<option name="blue" value="#0079bf"></option>
					<option name="light-blue" value="#00c2e0"></option>
					<option name="light-green" value="#51e898"></option>
					<option name="pink" value="#ff80ce"></option>
					<option name="black" value="#4d4d4d"></option>
				</select>
			</div>
		</div>
		<div id="delete-save">
			<div name="delete">
				<div class="fa fa-trash"></div>
				<div>Delete</div>
			</div>
			<div name="save">
				<div class="fa fa-floppy-o"></div>
				<div>Save</div>
			</div>
		</div>
	</div>
	<div id="delete-search-modal" class="modal">
		<div class="paragraph" style="margin-bottom: 15px;">
			<h3>Delete this favorited search</h3>
			<p>Are you sure you'd like to delete this favorited search?</p>
			<p>The search will still appear in your history, but its name, icon, and favorited status will be removed.</p>
		</div>

		<button style="margin-right: 15px;">No, Cancel</button>
		<button class="danger confirm">Yes, Delete</button>
	</div>
	{% endif %}
	<div class="spacer"></div>
	<div  class="menu-footer">
		<a class="support-link" target="_blank" href="{% url 'support' %}"><i class="fa fa-question-circle"></i> Support</a>
		<div class="user-info">
			<div>
				{% if request.user.full_name %}
					<a href="{% url 'settings:account' %}"><i class="fa fa-user"></i> {{ request.user.full_name }}</a>
				{% else %}
					<a href="{% url 'settings:account' %}"><i class="fa fa-user"></i> {{ request.user.handle }}</a>
				{% endif %}
			</div>
			<a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
		</div>

		<div class="bitscoop-footer">
			<div class="copyright">BitScoop Labs &copy 2016</div>
			<span class="spacer"> | </span>
			<a class="privacy-policy" href="{% url 'privacy' %}">Privacy</a>
			<span class="spacer"> | </span>
			<a class="terms-of-use" href="{% url 'terms' %}">Terms</a>
		</div>
	</div>
</div>
