<div id="menu">
	<div class="menu-header">
		<div id="close-menu">
			<i class="fa fa-times"></i>
		</div>
		{% if mode == 'app' %}
			<div class="view-bar">
				<div class="title">
					<a class="view-selector" data-selector="results">
						<i class="fa fa-arrow-circle-left"></i>
						<span>Results</span>
					</a>
				</div>
				<div class="view">
					<div class="flex">
						<a class="view-selector" data-selector="feed"><i class="fa fa-clone disabled"></i></a>
						<a class="view-selector" data-selector="grid"><i class="fa fa-th disabled"></i></a>
						<a class="view-selector" data-selector="list"><i class="fa fa-list disabled"></i></a>
						<a class="view-selector" data-selector="map"><i class="fa fa-map-o disabled"></i></a>
					</div>
				</div>
			</div>
			<div class="sort-bar">
				<div class="title"></div>
				<div class="sort-fields"></div>
			</div>
		{% endif %}
		<div class="title">Menu</div>
		<!--<a id="handle-link" href="/"><i class="fa fa-home"></i> {{ request.user.identifier }}</a>-->
		<!-- TODO: Add active styling instead of removing current view link-->
		{% if mode != 'app' %}
			<a class="explorer-highlight" href="{% url 'explorer:main' %}"><i class="fa fa-th-large"></i> Explorer</a>
		{% endif %}
		<a class="provider-highlight" href="{% url 'providers' %}"><i class="fa fa-plus"></i> Connections</a>
		<a class="settings-highlight" href="{% url 'settings:base' %}"><i class="fa fa-cog"></i> Settings</a>
	</div>
	<div  class="menu-footer">
		<a class="support-link" target="_blank" href="{% url 'support' %}"><i class="fa fa-question-circle"></i> Support</a>
		<div class="user-info">
			<div>
				{% if request.user.full_name %}
					<a href="{% url 'settings:account' %}"><i class="fa fa-user"></i> {{ request.user.full_name }}</a>
				{% else %}
					<a href="{% url 'settings:account' %}"><i class="fa fa-user"></i> {{ request.user.handle }}</a>
				{% endif %}
			</div>
			<a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
		</div>

		<div class="bitscoop-footer">
			<div class="copyright">BitScoop Labs &copy 2016</div>
			<span class="spacer"> | </span>
			<a class="privacy-policy" href="{% url 'privacy' %}">Privacy</a>
			<span class="spacer"> | </span>
			<a class="terms-of-use" href="{% url 'terms' %}">Terms</a>
		</div>
	</div>
</div>
