{% extends 'core/main/base.html' %}
{% load staticfiles %}

{% block static %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'core/js/list.js' %}"></script>
	<style type="text/css">

		.list-title {
			color: #000;

			text-decoration: none !important;
			font-size: 1em;
			padding: 5px;
		}

		.list-item-name {
			height: 20px;
			display: inline-block;
			width: 50%;
		}

		.list-item-date {
			display: inline-block;
			width: 25%;
		}

		.list-item-location {
			display: inline-block;
		}

		.list-item {
			color: #000;

			margin-top: auto;
			margin-bottom: auto;

			text-decoration: none !important;

			cursor: pointer;

			-webkit-transition: width .5s ease;
			transition: width .5s ease;

			font-size: 10pt;
			vertical-align: middle;

			font-size: 1em;
			margin: 4px;
			height: auto;
			width: 100%;
			padding: 5px;
			background-color: #EEE;
		}

		.list-item.big {
			height: 200px;
		}

		.list-item:hover {
			background-color: #488A2D;
			color: #FFF;
		}

		.list-item.active {
			background-color: #CCC;
		}


	</style>
{% endblock %}

{% block content %}
	<div id="main-list">
	<div class="list-title">
		<div class="list-item-name bold">
			Name
		</div>
		<div class="list-item-date bold">
			Date / Time
		</div>
		<div class="list-item-location bold">
			Location
		</div>
	</div>
	{% for event in events %}
		<div class="list-item" id="{{ event.id }}">
			<div class="list-item-name">
				{{ event.provider_name }}
			</div>
			<div class="list-item-date">
				{{ event.created }}
			</div>
			<div class="list-item-location">
				{{ event.location }}
			</div>
		</div>
	{% endfor %}

	<div class="list-item">
		<div class="list-item-name">
			Spotify
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Netflix
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Hulu
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Spotify
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Spotify
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Spotify
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Amazon
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Google+
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Spotify
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>

	<div class="list-item">
		<div class="list-item-name">
			Spotify
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Netflix
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Hulu
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Spotify
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Spotify
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Spotify
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Amazon
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Google+
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
	<div class="list-item">
		<div class="list-item-name">
			Spotify
		</div>
		<div class="list-item-date">
			Nov. 19 2014 / 1:11 PM
		</div>
		<div class="list-item-location">
			San Diego, CA
		</div>
	</div>
</div>
{% endblock %}
