	{% block main %}
	<div class="flex grow">
		<aside id="left" class="">
			{% block left %}

			{% endblock %}
		</aside>
		<div id="content" class="grow">
			{% block content %}

			{% endblock %}
		</div>
		<aside id="right" class="list-detail-sidebar">
			{% block right %}

			<div class="list-detail">

			</div>

			{% endblock %}
		</aside>
	</div>
	{% endblock %}



<!--<script type="application/javascript">-->
	<!--$(document).ready(function() {-->
		<!--mapboxgl.accessToken = 'pk.eyJ1IjoiaGVnZW1vbmJpbGwiLCJhIjoiR3NrS0JMYyJ9.NUb5mXgMOIbh-r7itnVgmg';-->
		<!--var map = new mapboxgl.Map({-->
		  <!--container: 'map', // container id-->
		  <!--style: 'https://www.mapbox.com/mapbox-gl-styles/styles/outdoors-v6.json', //stylesheet location-->
		  <!--center: [40.7, -73.90], // starting position-->
		  <!--zoom: 9 // starting zoom-->
		<!--});-->


	<!--});-->
<!--//{#	$('.list-detail-sidebar')#}-->
<!--//{#		.sidebar('toggle')#}-->
<!--//{#	;#}});-->
<!--</script>-->