.object-details {
	.flex;
	.flex-column;
	.flex-space-around;

	align-items: stretch;
	word-break: break-all;
	word-break: break-word;

	margin: 1.5em 0.5em;

	a {
		color: @color2;

		&:hover {
			color: @color1;
		}
	}

	.icon-text-right {
		.flex;
		.flex-row;
		.flex-start;
		margin: 0.3em 0;

		& i {
			margin: auto 0.5em auto 0;
			color: @color1;
		}

		& span {
			margin: auto 0;
			text-align: left;
		}
	}

	&.contact {
		.flex;
		.flex-column;
		.flex-start;

		@media @mobile {
			width: 95%;
		}

		.contact-container {
			.flex;
			.flex-row;
			.flex-start;
			width: 100%;
			margin: 0.3em 0;

			.user-image {
				max-height: 48px;
				max-width: 48px;
				margin: auto 0.5em auto 0;
			}

			.user-image-icon {
				font-size: 2em;
				margin: auto 0.5em auto 0;
				color: @color1;
			}

			.contact-info {
				.flex;
				.flex-column;

				margin: auto 0;
				text-align: left;
			}
		}
	}

	&.content, &.thing {
		.flex;
		.flex-column;
		.flex-space-between;
		flex-grow: 1;
		min-height: 140px;

		align-items: center;

		a {
			margin: 0 auto;
		}

		@media @mobile {
			width: 95%;
		}

		img {
			height: auto;
			width: auto;
			max-width: 300px;
			max-height: 300px;
			margin: 0.3em auto;
		}

		& > iframe {
			margin: 0.3em auto;
		}

		@media @mobile {
			.email-iframe {
				transform: scale(0.50);
				transform-origin: 0 0;
			}
		}

		& > .content-title {
			.text-center;
			font-size: 1.5em;
		}

		& > .content-footer-container {
			.flex;
			.flex-row;
			.flex-space-between;

			width: 100%;
		}

		& > .text-area {
			.pt-sans;
			max-width: 600px;
			text-align: left;
			white-space: pre-wrap;
			margin: 0.3em 0;
		}
	}

	&.event {
		text-transform: capitalize;
		font-size: 1.2em;

		@media @mobile {
			.flex-row;
			margin: 0.2em;
		}

		.provider-container {
			.flex;
			.flex-column;
			.flex-center;
			justify-content: center;
			width: 100%;

			@media @mobile {
				width: inherit;
			}

			& .provider-icon {
				.text-center;

				& i {
					font-size: 2.5em;
					padding: 0.3em;
					background-color: darken(@light, 40%);
					border-radius: 40px;
					width: 70px;
					height: 70px;

					@media @mobile {
						padding: 0.06em 0 0.06em 0.03em;
						width: 50px;
						height: 50px;
					}

					&:before {
						top: 4px;
						position: relative;
					}
				}
			}

			& .provider-name {
				margin: 0.3em 0;
				font-size: 1.5em;
				.text-center;

				@media @mobile {
					margin: 0.1em 0;
					font-size: 1em;
				}
			}
		}

		> div {
			.flex;
			.flex-column;

			.estimated {
				margin-left: 20px;
			}
		}
	}

	&.location {

		@media @mobile {
			width: 95%;
		}

		& #map-container {
			& > div {
				width: 100%;
				height: 100%;
				min-width: 200px;
				min-height: 200px;
			}
		}
	}

	&.organization {
		text-transform: capitalize;
		font-size: 1.2em;

		@media @mobile {
			width: 95%;
		}

		& img {
			max-width: 200px;
			margin: 0 auto;

			background-color: darken(@light, 40%);
			border: 13px darken(@light, 40%) solid;
		}

		& i {
			font-size: 1.1em;
		}

		.organization-title {
			.text-center;
			font-size: 1.3em;
			margin: 0.3em 0;
		}
	}
}
