.object-details-container {
	.flex;
	.flex-column;
	align-items: stretch;

	.object-details {
		.flex;
		.flex-column;
		.flex-space-around;
		align-items: stretch;

		max-width: 700px;
		word-break: break-word;
		background-color: @light;
		padding: 1em 1em 2em 1em;
		margin: 0.5em;
		border-radius: 0.2em;
		box-shadow: 0 0 10px fade(@dark, 25%);

		@media @mobile {
			margin: 0 0 1em 0;
			width: 100%;
			max-width: inherit;

			&:first-child {
				margin-top: 1em;
			}
		}

		& > * {
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.datetime {
			.text-center;
		}

		&.contact {
			& div {
				.text-center;
				font-size: 1.2em;
			}

			& .icon-big {
				.text-center;
				font-size: 5em;
			}
		}

		&.content {
			& > img {
				margin-left: auto;
				margin-right: auto;
				height: auto;
				width: auto;
				max-width: 300px;
				max-height: 300px;
			}

			& > iframe {
				margin-left: auto;
				margin-right: auto;
			}

			& > .content-title {
				.text-center;
				font-size: 1.5em;

				margin-left: auto;
				margin-right: auto;
			}

			& > .icons {
				.flex;
				.flex-space-between;

				margin-left: auto;
				margin-right: auto;

				& > div {
					margin: 0 0.5em;
				}
			}

			& > .text-area {
				.text-center;
			}
		}

		&.event {
			& .icon {
				.text-center;

				width: 100%;
				font-size: 3em;
			}

			& .provider-name, & .event-type {
				.text-capitalize;
				.text-center;

				font-size: 1.5em;
			}
		}

		&.location {
			font-size: 1.2em;
		}

		&.organization {
			& > .organization-title {
				.text-center;
				font-size: 1.5em;
			}

			& > .organization-icon, .organization-type {
				.text-center;
				text-transform: uppercase;
			}

			& > .organization-name {
				margin-left: auto;
				margin-right: auto;

				font-size: 1.5em;
			}

			.organization-icon {
				font-size: 1.5em;
			}

			& img {
				margin-left: auto;
				margin-right: auto;
				height: auto;
				width: auto;
				max-width: 300px;
				max-height: 300px;
			}

		}

		&.place {
			.text-center;

			& > .place-name {
				font-size: 1.5em;
			}

			& > i {
				font-size: 3em;
			}
		}

		&.thing {
			& > iframe {
				margin-left: auto;
				margin-right: auto;
			}

			& > .thing-title {
				.text-center;
				font-size: 1.5em;

				margin-left: auto;
				margin-right: auto;

			}

			& img {
				margin-left: auto;
				margin-right: auto;
				height: auto;
				width: auto;
				max-width: 300px;
				max-height: 300px;
			}

			& > .text-area {
				.text-center;
			}

			& > .icons {
				.flex;
				.flex-space-between;

				margin-left: auto;
				margin-right: auto;

				& > div {
					margin: 0 0.5em;
				}

				& .thing-type {
					.text-capitalize;
				}
			}
		}

		#map-container {
			.flex;
			.flex-grow;

			min-width: 200px;
			min-height: 200px;
		}
	}

	.object-details, .event {
		min-height: 250px;
	}
}
//
//.grid {
//	.object-details-container {
//		.flex;
//		.flex-row;
//		.flex-start;
//
//		.object-details {
//			padding: 1em 2em 1em 1em;
//			max-width: 500px;
//
//			@media @mobile {
//				padding: 1em 1em 2em 1em;
//			}
//		}
//	}
//}
