{% extends 'core/settings/base.html' %}


{% block settings %}
	<form action="{% url 'settings:profile' %}" method="POST">
		<div class="boxed-group">
			<div>
				Profile Settings
			</div>

			<div class="padded">
				<div class="bold">
					Handle
				</div>

				<div class="text-box shrink">
					<input type="text" name="handle" value="{{ form.handle.value|default_if_none:'' }}" />
				</div>
			</div>
		</div>

		<div class="boxed-group">
			<div>
				Password Settings
			</div>

			<div class="padded">
				<div class="bold">
					New Password
				</div>

				<div class="text-box shrink">
					<input type="text" name="new_password" value="{{ form.new_password.value|default_if_none:'' }}" />
				</div>

				<div class="bold">
					New Password Repeated
				</div>

				<div class="text-box shrink">
					<input type="text" name="new_password_repeated" value="{{ form.new_password_repeated.value|default_if_none:'' }}" />
				</div>
			</div>
		</div>

		<div class="boxed-group">
			<div>
				Deactivate Account
			</div>
		</div>

		<div class="boxed-group">
			<div>
				Delete Account
			</div>
		</div>
	</form>
{% endblock %}
