{% extends 'core/settings/base.html' %}
{% load staticfiles %}

{% block static %}
	{{ block.super }}
{% endblock %}

{% block content %}
<div class="grouping">
	<div class="bigger">Details</div>
	<div>
		<div class="bold">First name:</div>
		<div><input type="text" name="first_name" value="{{ form.first_name.value|default_if_none:'' }}" /></div>
		<div>{{ form.first_name.errors }}</div>
		<div class="bold">Last name:</div>
		<div><input type="text" name="last_name" value="{{ form.last_name.value|default_if_none:'' }}" /></div>
		<div>{{ form.last_name.errors }}</div>
		<input class="bold button-green name-update" type="button" value="Update Name" onclick="updateName({{ user.id }})"/>
	</div>
</div>

<div class="grouping">
	<div class="bigger">Contact</div>
	<div>
		<div class="bold">Email:</div>
		<div>
			<input type="text" name="email" value="{{ form.email.value|default_if_none:'' }}" {% if autofocus %}autofocus {% endif %}/>
			<div style="display: inline-block">{{ form.email.errors }}</div>
		</div>
		<input class="bold button-green email-update" type="button" value="Update Email" onclick="updateEmail({{ user.id }})"/>
	</div>
</div>
{% endblock %}
