{% extends 'core/settings/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="grouping">
	<div class="bigger">Password</div>
	<div>
		<div class="bold">New password:</div>
		<input type="password" name="new_password" />
		<div>{{ form.new_password.errors }}</div>
		<div class="bold">Repeated:</div>
		<input type="password" name="new_password_repeated" />
		<div>{{ form.new_password.errors }}</div>
		<input class="bold button-green password-update" type="button" value="Update Password" onclick="updatePassword({{ user.id }})"/>
	</div>
</div>

<div class="grouping">
	<div class="bigger">Handle</div>
	<div>
		<div class="bold">Handle:</div>
		<div><input type="text" name="handle" value="{{ user.handle|default_if_none:'' }}" /></div>
		<div>{{ form.handle.errors }}</div>
		<input class="bold button-green handle-update" type="button" value="Update Handle" onclick="updateHandle({{ user.id }})"/>
	</div>
</div>
{% endblock %}
