{% extends 'core/connections/base.html' %}
{% load staticfiles %}

{% block main %}
<div class="content-list">
	<div class="content-item">
		<h1>Authorize Access to {{ signal.name }}</h1>
		<h4>Please use the the pop-up to authorize your BitScoop connection with {{ signal.name }}</h4>
		<a class="btn btn-primary" href="{% url 'connections' %}">Retry {{ signal.name }} Connection</a>
		<a class="btn btn-danger" href="{% url 'providers' %}">Cancel {{ signal.name }} Association</a>
	</div>
</div>
{% endblock %}
