{% extends 'core/signals/base.html' %}
{% load staticfiles %}

{% block static %}
{{ block.super }}
<script type="text/javascript">
	require(['site'], function(site) {
		$(document).ready(function() {
			site.bindVerifiedSignal('.verify-button');
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="content-list" data-signal-id="{{ signal.id }}">
	<div class="content-item">
		<h1>Verify {{ signal.provider.name }} Connection Settings</h1>
	</div>
	<div class="content-item">
		<h1 class="bold">Name your connection to {{ signal.provider.name }}</h1>
		<form>
			<input class="text-input-width-medium" name="signal-name" type="text" name="email" value='{{ signal.name }}'/>
		</form>
	</div>
	<div class="content-item">
		<div class="flex content-header">
			<h1>Permissions</h1>
			<div class="tooltip-container">
				<div class="icon-help tooltip-trigger"></div>
				<div class="tooltip">
					<div class="tooltip-text">Choose which types of data BitScoop will get from your {{ signal.provider.name }} account.  Even if you authorized BitScoop to get a certain type when you first connected the account, you can choose to have it skipped by de-selecting its permission.  If you de-select a type from which BitScoop has already collected data, the data already collected will continue to show up in your search results, but new data of that type will not be collected.</div>
					<div class="icon-cancel-circle tooltip-close"></div>
				</div>
			</div>
		</div>
		<div class="permission-container">
		{% for event_source_name, event_source in event_source_dict.items %}
		<div name="{{ signal.provider_name }}" data-event-source-name="{{ event_source.name }}" class="event-source-checkbox">
			<label class="permission-min-width">
				<input type="checkbox" {% if event_source.enabled_by_default %} checked="checked" {% endif %}>
				<span>{{ event_source.display_name }}</span>
			</label>
			<div class="tooltip-container near">
				<div class="icon-help tooltip-trigger"></div>
				<div class="tooltip">
					<div class="tooltip-text">{{ event_source.description }}</div>
					<div class="icon-cancel-circle tooltip-close"></div>
				</div>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
	<div class="content-item form">
		<div class="flex content-header">
			<h1>Update Frequency</h1>
			<div class="tooltip-container">
				<div class="icon-help tooltip-trigger"></div>
				<div class="tooltip">
					<div class="tooltip-text">How often BitScoop will automatically search for new data from this provider</div>
					<div class="icon-cancel-circle tooltip-close"></div>
				</div>
			</div>
		</div>
		<div class="grouped fields" id="frequency">
			<!--<div class="field">-->
				<!--<label>-->
					<!--<input updateFrequency=0 type="radio" name="update-frequency" {% if signal.frequency == 0 %}checked="checked"{% endif %} disabled>-->
					<!--<span class="premium-message">Premium On Demand</span>-->
				<!--</label>-->
			<!--</div>-->
			<div class="field">
				<label>
					<input updateFrequency=1 type="radio" name="update-frequency" {% if signal.frequency == 1 %}checked="checked"{% endif %}>
					<span>Daily</span>
				</label>
			</div>
			<div class="field">
				<label>
					<input updateFrequency=2 type="radio" name="update-frequency" {% if signal.frequency == 2 %}checked="checked"{% endif %}>
					<span>Weekly</span>
				</label>
			</div>
			<div class="field">
				<label>
					<input updateFrequency=3 type="radio" name="update-frequency" {% if signal.frequency == 3 %}checked="checked"{% endif %}>
					<span>Manual</span>
				</label>
			</div>
			<div class="field">
				<label>
					<input updateFrequency=4 type="radio" name="update-frequency" {% if signal.frequency == 4 %}checked="checked"{% endif %}>
					<span>Once</span>
				</label>
			</div>
		</div>
	</div>
	<div>
		<input class="btn btn-primary verify-button" type="button" value="Complete Connection to {{ signal.name }}"/>
	</div>
</div>
{% endblock %}
