{% extends 'connections/base.html' %}

{% load staticfiles %}


{% block main %}
<div class="content-list">
	<div class="content-item">
		<h1>Authorize Access to {{ connection.name }}</h1>
		<h4>Please use the the pop-up to authorize your BitScoop connection with {{ connection.name }}</h4>
		<a class="btn btn-primary" href="{% url 'connections' %}">Retry {{ connection.name }} Connection</a>
		<a class="btn btn-danger" href="{% url 'providers' %}">Cancel {{ connection.name }} Association</a>
	</div>
</div>
{% endblock %}
