{% extends 'connections/base.html' %}

{% load staticfiles %}


{% block static %}
	{{ block.super }}

	<script type="text/javascript">
		require(['connections']);
	</script>
{% endblock %}


{% block header %}
	{% include 'components/header.html' with mode='home' %}
{% endblock %}


{% block content %}
	<div id="wrapper">
		<div id="workflow" class="boxed-group" data-connection-id="{{ connection.id }}">
			<div class="align-center" data-provider-name="{{ provider.name }}">
				<div class="flexbox flex-x-center">
					<i class="fa fa-{{ provider.name|lower }}"></i>
					<div class="flex-grow">New {{ provider.name }} Connection</div>
					<i class="fa fa-{{ provider.name|lower }}" style="color: transparent;"></i>
				</div>
			</div>

			<form action="{% url 'connections:connect' provider.name|lower %}">
				<div class="padded paragraphed">
					<div class="align-center">
						<input class="line-entry align-center" type="text" name="connection-name" placeholder="My {{ provider.name }} Account{% if next_name_count > 1 %} #{{ next_name_count }}{% endif %}" style="padding-top: 0;" autofocus />
					</div>

					<div style="margin-top: 25px;">
						<div class="label">What would you like?</div>
						<!--<div>
							Choose which types of data BitScoop will get from your {{ connection.provider.name }} account.
							Even if you authorized BitScoop to get a certain type when you first connected the account, you can choose to have it skipped by de-selecting its permission.
							If you de-select a type from which BitScoop has already collected data, the data already collected will continue to show up in your search results, but new data of that type will not be collected.
						</div>-->
						<div>
							{% for source_name, source in source_dict.items %}
							<div class="paragraph" name="{{ connection.provider_name }}" data-source-name="{{ source_name }}" class="source-checkbox">
								<label><input type="checkbox" name="{{ source_name }}"{% if source.enabled_by_default %} checked{% endif %} />{{ source.name }}</label>
								<div class="tooltip" data-for="">{{ source.description }}</div>
							</div>
							{% endfor %}
						</div>
					</div>

					<!--<div>
						<div class="bold" style="font-size: 1.5em; margin-bottom: 0.5em;">Update Frequency</div>
						<div>
							How often BitScoop will automatically search for new data from this provider
						</div>
						<div>
							<label><input type="radio" name="update-frequency" value="1" checked />Daily</label>
							<label><input type="radio" name="update-frequency" value="2" />Weekly</label>
							<label><input type="radio" name="update-frequency" value="3" />Manual</label>
							<label><input type="radio" name="update-frequency" value="4" />Once</label>
						</div>
					</div>-->

					<input type="hidden" name="update-frequency" value="1" />

					<div class="action">
						<button class="primary" type="submit">Connect to {{ provider.name }}</button>
					</div>
				</div>
			</form>
		</div>

		<div id="manage">
			{% if current_count = 1 %}
			<a class="primary" href="{% url 'settings:connections' %}?provider={{ provider.id }}">Manage {{ current_count }} {{ provider.name }} Connection</a>
			{% elif current_count > 1 %}
			<a class="primary" href="{% url 'settings:connections' %}?provider={{ provider.id }}">Manage {{ current_count }} {{ provider.name }} Connections</a>
			{% endif %}
		</div>
	</div>
{% endblock %}
