{% extends 'core/dispatcher.html' %}

{% block content %}
<section class="lockwidth centered">
	<h1>User</h1>

	<p>
		You're seeing all this information because this is your profile.
		Your public profile is accessible at this same URL for others, but for now only your user handle will be visible.
		If you did not pick a user handle your automatically assigned Ografy ID will be displayed instead.
	</p>
	<p style="margin-bottom:2em;">
		<b>Note:</b> We'll support changing all of this information very soon.
		For now it's just displayed for your records.
	</p>

	<p><b>Ografy ID:</b> {{ user.id }}</p>
	<p><b>Email:</b> {{ user.email }}</p>
	<p><b>Handle:</b> {{ user.handle }}</p>
	<p><b>First Name:</b> {{ user.first_name }}</p>
	<p><b>Last Name:</b> {{ user.last_name }}</p>
</section>
{% endblock %}
