* {
	box-sizing: border-box;
	margin: 0; padding: 0;
}

html {
	font: 10px 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #FFF;
	background-color: #222;
	height: 100%;
}

body {
	font-size: 1.85em;
	padding: 95px 35px; margin: 0;
	overflow-x: hidden; overflow-y: scroll;
	height: 100%;
}


h1, h2, h3, p { margin: 0; }
h1, h2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

h1 {
	font-size: 1.85em;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 1.65em;
	margin-bottom: 0.5em;
}
p { line-height: 150%; }


a {
	color: #FF7538;
	text-decoration: none;
}




.center { text-align: center !important; }
.centered { margin-left: auto !important; margin-right: auto !important; }
.lock-width {
	width: 1000px;
	margin: 0 auto;
}
.half-width { width: 50%; }
.quarter-width { width: 25%; }
.third-width { width: 33.33%; }
.pad15 { padding: 15px; }
.pad25 { padding: 25px; }

.white { color: #FFF !important; }

.bg-light { background-color: #FFF; }
.bg-gray { background-color: #A0A0A0; }
.bg-green {
	color: #FFF;
	background-color: #0E9D58;
}
.bg-blue {
	color: #FFF;
	background-color: #1F75FE;
}
.bg-orange {
	color: #111;
	background-color: #FF7538;
}
.bg-dark {
	color: #FFF;
	background-color: #222;
}


#header {
	position: fixed;
	top: 0; left: 0; z-index: 10;
	width: 100%;
	
	padding: 5px 10px 1px 10px;
	
	background-color: rgba(17,17,17,0.9);
	border-bottom: 10px solid #707070;
}


#content {
	position: relative;
	width: 100%;
	
	-webkit-transition: left 150ms ease;
}


#settings {
	position: fixed;
	width: 500px; height: 100%;
	
	top: 65px; left: -500px; z-index: 10;
	
	background-color: #707070;
	
	padding: 25px 0 0 25px;
	
	-webkit-transition: left 150ms ease;
}
#settings ul {
	margin: 0; padding: 0;
	list-style-type: none;
}
#settings ul li {
	width: 100%;
	cursor: pointer;
}



body.settings #settings { left: 0; }
body.settings #content { left: 500px; }


input, select, textarea {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	margin: 5px 0;
	outline: none;
	border: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
	border-radius: 0;
	box-shadow: 0 0 5px 2px #1F75FE;
}


input[type="button"],
input[type="submit"], 
input[type="reset"] {
	-webkit-transition: text-shadow 50ms ease;
}

input[type="button"]:active,
input[type="submit"]:active, 
input[type="reset"]:active {
	text-shadow: 0 0 10px #FFF;
	border-style: inset;
}



.item {
	width: 400px; height: 400px;
	background-color: #111;
	border: 5px solid #FFF;
	margin: 5px;
}
.item.w2 { width: 810px; }
.item.h2 { height: 810px; }


.item.social { border-color: #0E9D58; }
.item.professional { border-color: #1F75FE; }
.item.financial { border-color: #FF7538; }