html {
	font-size: 10px;
	background-color: #FFF;
	height: 100%;
}

body {
	color: #444;
	font: 1.85em Helvetica, Arial, sans-serif;
	padding: 0; margin: 0;
	overflow-y: scroll;
	height: 100%;
}

.center { text-align: center; }
.centered { margin-left: auto; margin-right: auto; }
.lockwidth { width: 800px; }
.full-width { min-width: 100%; }
.full-height { height: 100%; }

/* FLEXBOX */
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flex.space-around {
	-ms-flex-pack: justify;
	-moz-justify-content: space-around;
	-o-justify-content: space-around;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.flex.space-between {
	-ms-flex-pack: justify;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.flex.flex-column {
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}








header,
footer {
	background-color: #000;
	padding: 10px;
	color: #FFF;
}


#content > section,
#content > aside { border: 1px solid black; }
#content > section { width: 90%; }
#content > aside { width: 10%; }






#nav a, .label { color: #0B75AF; } /* BLUE */
a { color: #FFAA00; } /* ORANGE */
h1, #title, #title a { color: #FFF; } /* WHITE */
#quote { color: #6B6B6B; } /* Gray */
.orange, .active { color: #FFAA00 !important; }
.blue { color: #0B75AF !important; }

h1, h2, h3 {
	color: #0B75AF;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin: 1.5em 0 0.5em 0;
}
p, li { word-spacing: 2px; }
p {
	margin: 0 0 1em 0;
	line-height: 140%;
}
li { margin: 0 0 0.5em 0; }
h1:first-child,
h2:first-child,
h3:first-child,
p:first-child { margin-top: 0; }
h1:last-child,
h2:last-child,
h3:last-child,
p:last-child { margin-bottom: 0; }

h1 { font-size: 2.15em; }
h2 { font-size: 1.65em; }
h3 { font-size: 1.35em; }
footer, small { font-size: 0.85em; }
#title { font-size: 2em; }
#nav { font-size: 2.25em; }

a {
	border-style: none; outline: none;
	text-decoration: none;
}

header a,
footer a {
	transition: text-shadow 100ms ease-out, color 200ms ease;
	-moz-transition: text-shadow 100ms ease-out, color 200ms ease;
	-ms-transition: text-shadow 100ms ease-out, color 200ms ease;
	-o-transition: text-shadow 100ms ease-out, color 200ms ease;
	-webkit-transition: text-shadow 100ms ease-out, color 200ms ease;
}
header a:active,
footer a:active { text-shadow: 0 0 35px #FFF; }

nav { font-family: 'CaviarDreams', Verdana, sans-serif; }
nav > a {
	display: inline-block;
	border-top: 1px solid rgba(0,0,0,0);
	border-bottom: 1px solid #6B6B6B;
	padding: 5px 10px;
	position: relative;
	top: -1px;
}
#nav {
	width: 65%;
	margin: 0 auto;
	border-top: 1px solid #6B6B6B;
}
#nav > a {
	min-width: 25%;
}

section, article {
	padding: 20px 25px; margin-bottom: 35px;
}

#title {
	font-family: 'Nevis', Verdana, sans-serif;	
	text-transform: uppercase;
}

#content {
	padding: 10px 0;
	margin-top: 25px;
	position: relative;
}
#content > :last-child { margin-bottom: 0; }