<div class="flexbox flex-column flex-center flex-x-center" style="color: #2bc1de; margin-bottom: 2.5em;">
	<div style="margin: 0.65em 0; position: relative;">
		<a href="{% url 'home' %}"><img src="https://d233zlhvpze22y.cloudfront.net/1457056861/images/logo/logo.svg" style="width: 200px;" /></a>
		<span style="position: absolute; bottom: 2px; right: 35px; font-size: 0.65em;">TM</span>
	</div>

	<div style="position: relative;">
		<h1 style="font-family: Quicksand; font-weight: 400; font-size: 2.5em;">bitScoop</h1>
		<span style="position: absolute; top: 8px; right: -12px; font-size: 0.65em;">TM</span>
	</div>

	<div style="text-transform: uppercase; font-family: Quicksand; font-size: 1.5em; margin-top: -0.8em; font-weight: 400;">Beta</div>
</div>

{% if tagline %}
	<div style="font-family: Quicksand; font-size: 1.65em; font-weight: 400; color: #2bc1de; margin-bottom: 1.5em;">Search. You.</div>
{% endif %}
