<div class="detail grow{% if showMap %} text-half {% else %} full {% endif %}">
	<div id="detail-main-label" class="center main-label">
		Select an Event
	</div>
	<div class="information">
		<div id="avatar-datetime" class="flex avatar-datetime">
			<div class="avatar">
				<img src="/static/assets/logo_240.png" alt="Avatar" />
			</div>
			<div id="detail-datetime" class="datetime">
				<div id="detail-date" class="detail-date">
					<label class="center label">Date</label>
					<div id="detail-date-content" class="center content">
						Select an Event
					</div>
				</div>
				<div id="detail-time" class="detail-time">
					<label class="center label">Time</label>
					<div id="detail-time-content" class="center content">
						Select an Event
					</div>
				</div>
			</div>
		</div>
		<div id="detail-location" class="detail-location">
			<label class="center label">Location</label>
			<div id="detail-location-content" class="center content">
				Select an Event
			</div>
		</div>
	</div>
</div>
{% if showMap %}
<div class="detail map-half hidden drawer map">
	<i class="drawer-toggle map hidden icon-map2"></i>
	<div class="map container flex">
		<div id='mapbox' class='grow'></div>
	</div>
</div>
{% endif %}
