@font-face {
    font-family: 'Nevis';
    src: url('http://static.sberry.me/fonts/Nevis/Nevis-webfont.eot');
    src: url('http://static.sberry.me/fonts/Nevis/Nevis-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.sberry.me/fonts/Nevis/Nevis-webfont.woff') format('woff'),
         url('http://static.sberry.me/fonts/Nevis/Nevis-webfont.ttf') format('truetype'),
         url('http://static.sberry.me/fonts/Nevis/Nevis-webfont.svg#Nevis') format('svg');
    font-weight: normal;
    font-style: normal;
}