{% extends 'core/settings/base.html' %}


{% block content %}
<div class="grouping">
	<div class="bigger">Password</div>
	<div>
		<div class="bold">New password:</div>
		<input type="password" name="new_password" />
		<div>{{ form.new_password.errors }}</div>
		<div class="bold">Repeated:</div>
		<input type="password" name="new_password_repeated" />
		<div>{{ form.new_password.errors }}</div>
	</div>
</div>

<div class="grouping">
	<div class="bigger">Handle</div>
	<div>
		<div class="bold">Handle:</div>
		<div><input type="text" name="handle" value="{{ form.handle.value|default_if_none:'' }}" /></div>
		<div>{{ form.handle.errors }}</div>
	</div>
</div>
{% endblock %}
