{% extends 'core/settings/base.html' %}
{% load staticfiles %}


{% block static %}
	{{ block.super }}
	<script type="application/javascript">
		function disableSignal(signal_id) {
			{#			FIXME: Make less crap#}
			$.ajax({
				url: '/opi/signal/' + signal_id,
				type: 'PATCH',
				dataType: 'json',
				data: {},
				headers: {
					"X-CSRFToken": getCookie('csrftoken')
				}
			}).done(function() {
				$('.ui.checkbox.signal-enable-' + signal_id).checkbox();
			});
		}

		function deleteSignal(signal_id) {
			{#			FIXME: Make less crap#}
			$.ajax({
				url: '/opi/signal/' + signal_id,
				type: 'DELETE',
				dataType: 'json',
				data: {},
				headers: {
					"X-CSRFToken": getCookie('csrftoken')
				}
			}).done(function() {
				$('signal-' + signal_id).remove();
			});
		}
	</script>
{% endblock %}

{% block content %}
	<div class="grouping">
		<div class="bigger">Your connections</div>
		{% for signal in signals %}
			<div class="flex row signal-toggle signal-{{ signal.id }}">
				<div class="grow">
					<i class="icon-{{ signal.provider.backend_name }}"></i>
					<a href="{{ verify_url }}/{{ signal.id }}">{{ signal.name }}</a>
				</div>
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoffswitch-{{ signal.id }}" {% if signal.enabled %}checked {% endif %}>
					<label class="onoffswitch-label" for="onoffswitch-{{ signal.id }}" onclick="toggleSignal({{ signal.id }})">
						<span class="onoffswitch-inner" ></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
				<div class='delete-signal' onclick="deleteSignal({{ signal.id }})">
					<i class="icon-cancel-circle"></i>
					<label></label>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
