<!DOCTYPE html>
<html>
	<head lang="en-US">{% load staticfiles %}
		<meta charset="utf-8">
		<title>{{ title }}</title>

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Source+Sans+Pro:300,400,700" />

		<script type="text/javascript">
			window.staticUrl = "{% static '' %}";
		</script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.19/require.min.js"></script>

		<script type="text/javascript" src="{% static 'shared/js/paths.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'shared/js/templates.min.js' %}"></script>

		<link rel="stylesheet" type="text/css" href="{% static 'lib/icomoon/fonticons.css' %}" />
		<script type="text/javascript" src="{% static 'lib/jutsu/jutsu.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/cartano/cartano.min.js' %}"></script>

		<script type="text/javascript" src="{% static 'shared/js/site.min.js' %}"></script>

		<link rel="stylesheet" type="text/css" href="{% static 'core/css/search-light.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'shared/css/site-light.css' %}" />

		{% include 'core/components/mapbox-styles.html' %}

		<script type="text/javascript" src="{% static 'new/new.min.js' %}"></script>

		<script type="text/javascript">
			require(['jquery', 'site'], function($, site) {
				$(document).ready(function() {
					site.bindMainAppUtilities();
				})
			});
		</script>

		<link rel="stylesheet" type="text/css" href="{% static 'new/new.css' %}" />
	</head>
	<body class="flex column">
		<header>
			{% include 'core/components/header.html' %}
		</header>

		<main class="flex grow">
			<div id="panel" class="autohide">
				<div id="panel-search">
					<form id="search-form" action="/search" method="POST">
						<div class="input-group" data-content="&#xf02e;">
							<input class="icon" type="text" name="search" placeholder="find yourself" style="width: 100%" />
							<span id="filter-toggle" class="no-select icon-triangle-up" style="padding: 12px 12px 12px 4px;"></span>
							<!-- Probably should hide this if NOT on mobile. Safest to do in javascript, rather than media query CSS. -->
							<!--<input class="button" type="submit" value="Search" />-->
						</div>
					</form>
				</div>

				<div id="panel-filter" class="autohide">
					<div id="filters">
						<div class="add button show">+</div>
					</div>

					<div id="filterTypes" class="flex hidden">
						<div class="add button type" data-filter-type="who">
							Who
						</div>

						<div class="add button type" data-filter-type="what">
							What
						</div>

						<div class="add button type" data-filter-type="when">
							When
						</div>

						<div class="add button type" data-filter-type="how">
							How
						</div>

						<div class="grow"></div>
						<div class="close type">X</div>
					</div>

					<div class="filter-content flex">
					</div>
				</div>

				<div id="panel-list">
				</div>

				<div id="panel-detail" class="hidden">
				</div>
			</div>

			<div id="background" class="flex grow autoblur"></div>
		</main>
	</body>
</html>
