* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

html, body {
	height: 100%;
}

body {
	padding: 0; margin: 0;
	overflow: hidden;
}

header {
	background-color: #3D4351;
	color: #BEBDBD;
	padding: 5px 10px;
}

main {
	position: relative;
}


header > nav > a {
	padding: 0 5px;
	text-decoration: none;
	color: #73B6E6;
}

header > nav > a:hover,
header > nav > a:active,
header > nav > a.active {
	color: #A0CE4E;
}


#panel {
	position: absolute;
	top: 0; left: 0; z-index: 1;

	width: 20%; height: 100%;
	min-width: 342px;

	padding: 10px;

	display: flex;
	flex-direction: column;
}

#panel > * {
	box-sizing: content-box;

	overflow: auto;

	background-color: #FFF;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 3px;

	margin-top: 10px;
}

#panel > :first-child {
	margin-top: 0;
}

#filter-toggle {
	cursor: pointer;
}

#panel-search.hidden {
	overflow: hidden;
	max-width: 40px;
}

#panel-list {
	max-height: 50%;
}

.flex {
	display: -webkit-flex;
	display: flex;
}

.flex.column {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flex.align-center {
	align-items: center;
}

.flex > .grow {
	-webkit-flex: 1;
	flex: 1;
	position: relative;
}


.input-group {
	display: flex;
}

.input-group::before {
	font-family: 'icomoon';

	display: inline-flex;
	align-items: center;
	content: attr(data-content);
	padding: 0.35em 0.15em 0.35em 0.75em;

	cursor: pointer;
}

#search-form input {
	font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
	font-weight: 300;
	font-size: 18px;
	outline: none;
	border: none;
	padding: 8px;
}

input[type="button"],
input[type="submit"] {
	cursor: pointer;
}


#filters, #filterTypes {
	border-bottom: 1px solid #DDD;
}

#filters > :first-child, #filterTypes > :first-child {
	margin-left: 4px;
}

.filter, .add.button {
	display: inline-block;

	margin: 3px 4px 3px 0;

	background-color: #E8E8E8;
	color: rgba(0, 0, 0, 0.6);
	box-shadow: rgba(34, 36, 38, 0.14902) 0 0 0 1px inset;

	border-radius: 3px;

	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.add.button.type, .add.button.close {
	padding: 0.2em 0.3em;
}

.filter.active {
	background-color: #D8D8D8;
}


.add.button.active {
	background-color: #AAA;
}

.filter:hover,
.add.button:hover,
.filter:active {
	background-color: #DADADA;
}

.filter > * {
	padding: 5px 10px 5px 0;

	display: inline-block;
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.filter > *:hover,
.filter > *:active {
	color: black;
}

#filters > div > :first-child {
	padding-left: 10px;
}


.search-button {
	width: 2em;
	height: 2em;
	display: inline-block;
	cursor: pointer;
	background-image: url('/static/assets/img/ografy_search.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: contain;
	margin: auto 0.5em;
}


.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.filter-content > [data-filter-type] {
	padding: 0.2em 0;
}

.filter-content .datePrefix {
	width: 2em;
}

.filter-content input {
	padding: 0.1em;
	font-size: 14px;
	width: 5em;
	margin: 0 0.5em;
	outline: 1px black;
}

.filter-content input[type='datetime-local'] {
	width: 15em;
}

.filter-content select {
	height: 2em;
}

.save {
	cursor: pointer;
	margin: auto 0.5em;
}

.close.content, .close.type {
	font-size: 1.3em;
	cursor: pointer;
	margin: auto 0.5em;
	width: 1em;
}

.list-element {
	height: 1.5em;
}

.list-element > * {
	margin: auto 0.2em;
}

.element-line > * {
	text-align: center;
}

.list-element:not(:last-child), .what.instance:not(:last-child) {
	border-bottom: 1px solid #E8E8E8;
}

.list-element.active {
	background-color: #AAA;
}

.list-element:hover {
	cursor: pointer;
	background-color: lightgray;
}

.detail > .title {
	background-color: #E8E8E8;
	text-align: center;
	font-size: 1.2em;
}

.when.title, .where.title, .how.title {
	width: 3em;
}

.when.detail > .datetime, .how.detail > .provider, .where.detail > .coordinates {
	margin: auto 0;
}

.who.instance:not(:last-child) {
	border-bottom: 1px solid #E8E8E8;
}

.hidden {
	display: none;
}

.add.button.show {
	padding: 0.3em 0.5em;
}
