{% extends 'demo/dispatcher.html' %}
{% load staticfiles %}

{% block static %}
{{ block.super }}
<script type="text/javascript" src="{% static 'lib/d3/d3-3.3.11.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/dimple/dimple-1.1.5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'demo/js/examples.js' %}"></script>

<style type="text/css">
	.wrapper {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		text-align: center;
	}

	.wrapper > * {
		padding: 10px;
		flex: 1 100%;
	}

	@media all and (min-width: 600px) {
		.aside { flex: 1 auto; }
	}

	@media all and (min-width: 800px) {
		.aside-1 { order: 1; }
		.aside-2 { order: 2; }
	}

	.bottom-space { margin-bottom: 3em; }

	iframe { border: none; }
</style>
{% endblock %}

	<h1 class="center">Dashboard Infografic Demo</h1>
	<article class="backfill padded">
		<iframe width='100%' height='500px' frameBorder='0' src='/static/demo/map/mapDemo.html'></iframe>

		<iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AjKE34VMWj7JdE55ZzJnRFJBVkxBVk9ELVFFcmg1ZFE&font=Lekton-Molengo&maptype=toner&lang=en&height=400'
		        width='100%' height='400' frameborder='0'></iframe>

		<div class="wrapper">
			<aside class="aside aside-1">
				<div id="chartContainer">
					<section class="centered center">
						<h2>Finance - Merchants</h2>
					</section>
				</div>
			</aside>
			<aside class="aside aside-2">
				<div id="chartContainer5">
					<section class="centered center">
						<h2>Social - Mentions & Likes</h2>
					</section>
				</div>
			</aside>
		</div>
		<div class="wrapper">
			<aside class="aside aside-1">
				<div id="chartContainer4">
					<section class="centered center">
						<h2>General - Activity</h2>
					</section>
				</div>
			</aside>
			<aside class="aside aside-2">
				<div id="chartContainer2">
					<section class="centered center">
						<h2>Social - Ellen & Liam</h2>
					</section>
				</div>
			</aside>
		</div>
	</article>

</section>
<section class="lockwidth centered">
	<h1 class="center">Older Prototypes</h1>

	<h2>Infographic <span style="font-size:70%;">(<a href="{% url 'demo_infographic' %}"
	                                                 target="_blank">Link</a>)</span></h2>

	<p>This is an initial prototype of an infographic created using a few of Steven's data sources:</p>
	<ul>
		<li>Steam</li>
		<li>Personal website</li>
	</ul>
	<p>We're still working on our plotting and visualization library which would enhance the functionality shown
		here.</p>

	<h2>Dashboard <span style="font-size:70%;">(<a href="{% url 'demo_dashboard' %}"
	                                               target="_blank">Link</a>)</span></h2>

	<p>This is an experimental dashboard UI we used to test categorizing and filtering charts.</p>

	<p>
		We explored using <a href="http://nvd3.org/" target="_blank">NVD3</a> for charts, but it didn't offer us
		enough flexibility or documentation.
		For now the charts displayed are placeholders and are using dummy data.
	</p>

	<p>However a few of the square regions replicate the functionality from the infographic.</p>

	<div class="center" style="margin-top:3em;">
		<h2>Continue to next section</h2>
		<a class="ui button positive" href="{% url 'documentation_index' %}">Get Started</a>
	</div>
</section>
{% endblock %}
