{% extends 'demo/dispatcher.html' %}
{% load staticfiles %}

{% block content %}
<section class="lockwidth centered">

	<div class="centered bottom-space" style="width: 1000px;">
		<iframe width="1000" class="backfill" height="563" src="//www.youtube-nocookie.com/embed/AyKu920Tvu8" frameborder="0" allowfullscreen></iframe>
	</div>

{#	<iframe src="https://docs.google.com/a/ografy.io/presentation/d/1fgLqwBd7B6W3noTDQNlaZ05fCZTTucsvIu9-kGV8gWo/embed?start=true&loop=true&delayms=15000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>#}

	<div class="centered bottom-space" style="width: 1000px;">
		<iframe width="1000" class="backfill" height="800" src="{% static 'demo/img/Ografy_Investor_Deck.pdf' %}" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="centered bottom-space" style="width: 1000px;">
		<iframe width="1000" class="backfill" height="563" src="//www.youtube-nocookie.com/embed/TdRyXom4wcE" frameborder="0" allowfullscreen></iframe>
	</div>
	<h1>Ografy Engine</h1>

	<p>
		At the core of all Ografy products is the Ografy Engine.
		The Ografy Engine is based on a semantic data structure to leverage the advantages of semantic data representation.
		The meta input API adds data sources to the semantically linked data structure.
		The Ografy Engine delivers on the promise of semantic data with no direct effort from the user.
	</p>

	<object data="{% static 'demo/img/ografy-engine-workflow.svg' %}" type="image/svg+xml">
		<img src="{% static 'demo/img/ografy-engine-workflow.svg' %}"/>
	</object>

	<div class="center" style="margin-top:3em;">
		<h2>Continue to next section</h2>
		<a class="ui button positive" href="{% url 'demo_examples' %}">Demo</a>
	</div>
	<div class="center" style="margin-top:3em;">
		<h2>If you would like more information</h2>
		<a class="ui button positive" href="{% url 'demo_plan' %}">More Details</a>
	</div>
</section>
{% endblock %}
