<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Ografy - Steven Berry</title>

		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" />
		<link rel="stylesheet" type="text/css" href="https://static.ografy.io/fonts/amadeus/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="https://static.ografy.io/fonts/junglefever/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="https://static.ografy.io/fonts/operatinginstructions/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="https://static.ografy.io/fonts/heavydata/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="https://static.ografy.io/dev/infographic/infographic.css" />
	</head>

	<body>
		<!--[if lte IE 9]>
		<div class="center" style="margin:150px auto;">
			<p>AVAST!</p>
			<p>This page is targetted for up-to-date, standards-compliant browsers.</p>
			<p>Check back in with IE10+, Chrome, or FF!</p>
		</div>
		<![endif]-->

		<!--[if gt IE 9]><!-->
		<div id="infographic">
			<section class="center" style="position:relative;top:-70px;margin-bottom:-40px;">
				<div class="title-block upper" style="position:relative;font-size:325%;font-weight:bold;">Steven Berry</div>
			</section>

			<section class="left" style="background: url('https://static.ografy.io/dev/infographic/cauchy-integral.svg') no-repeat right top; background-size: 55% auto;">
				<div class="title-block upper" style="padding-top:0;padding-bottom:0;font: 450% operating_instructionsregular;">Engineer</div>

				<div class="flex">
					<div class="block center flex vcenter hcenter" style="width:32%">
						<div>
							<p class="upper">15</p>
							<p class="upper">Web</p>
							<p class="upper">Articles</p>
							<p class="upper">Written</p>
						</div>
					</div>

					<div class="block center flex vcenter" style="width:32%">
						<img src="https://static.ografy.io/dev/infographic/skills.svg" style="width:100%;" />
					</div>

					<div class="block center flex vcenter hcenter" style="width:32%">
						<div>
							<p class="upper">Two</p>
							<p class="upper">Personal</p>
							<p class="upper">Computers</p>
							<p class="upper">Built</p>
						</div>
					</div>
				</div>
			</section>

			<section class="right" style="background: url('https://static.ografy.io/dev/infographic/footprints.svg') no-repeat left top; background-size: contain;">
				<div class="title-block upper" style="font: 250% junglefeverregular;">Adventurer</div>

				<div class="flex">
					<div class="block center flex vcenter hcenter" style="width:32%;">
						<div>
							<p class="upper">Highest</p>
							<p class="upper">Skydive</p>
							<p class="upper">from</p>
							<p class="upper">14,000 ft</p>
						</div>
					</div>

					<div class="block center flex vcenter hcenter" style="width:32%;">
						<div>
							<p class="upper">Lived <span class="orange">In</span></p>
							<img src="https://static.ografy.io/dev/infographic/map.svg" style="width:200px;height:auto;" />
						</div>
					</div>

					<div class="block center flex vcenter hcenter" style="width:32%;">
						<div>
							<p class="upper">9000+</p>
							<p class="upper">Daily</p>
							<p class="upper">Adventures</p>
							<p class="upper">To Date</p>
						</div>
					</div>
				</div>
			</section>

			<section class="left" style="background: url('https://static.ografy.io/dev/infographic/retro.svg') no-repeat right top; background-size: auto 75px;">
				<div>
					<div class="title-block upper" style="font: 300% heavy_dataregular;">Gamer</div>
				</div>

				<div class="flex">
					<div class="block center flex vcenter hcenter" style="width:32%;">
						<div>
							<p class="upper">5</p>
							<p class="upper">Hours</p>
							<p>(Past 2 Weeks)</p>
						</div>
					</div>

					<div class="block center flex vcenter hcenter" style="width:32%;">
						<div style="width:100%;">
							<p class="upper">Recently</p>
							<p class="upper">Played</p>

							<a class="inline spaced" href="#" title="Rocksmith 2014">
								<img class="bubble" src="https://static.ografy.io/dev/infographic/rs.jpg" />
							</a>

							<a class="inline spaced" href="#" title="Terraria">
								<img class="bubble" src="https://static.ografy.io/dev/infographic/terraria.jpg" />
							</a>

							<a class="inline spaced" href="http://en.wikipedia.org/wiki/Richard_Burns_Rally" title="Richard Burns Rally">
								<img class="bubble" src="https://static.ografy.io/dev/infographic/rbr.png" />
							</a>

							<a class="inline spaced" href="http://us.battle.net/sc2/en/" title="Starcraft II">
								<img class="bubble" src="https://static.ografy.io/dev/infographic/sc2.png" />
							</a>
						</div>
					</div>

					<div class="block center flex vcenter hcenter" style="width:32%;">
						<div>
							<p class="upper">Action</p>
							<p class="upper">Racing</p>
							<p class="upper">Fighting</p>
							<p class="upper">FPS</p>
						</div>
					</div>
				</div>
			</section>

			<section class="right" style="background: url('https://static.ografy.io/dev/infographic/hendrix.svg') no-repeat left top; background-size: auto 95px;">
				<div class="title-block" style="font: 300% amadeus_regularamadeusRg;">Audiophile</div>

				<div class="flex">
					<div class="block center flex vcenter hcenter" style="width:32%;">
						<div>
							<p class="upper orange">Plays</p>
							<p class="upper">Guitar</p>
							<p class="upper">Harmonica</p>
							<p class="upper">F. Horn</p>
						</div>
					</div>

					<div class="block center flex vcenter hcenter" style="width:32%;">
						<div>
							<p class="upper orange">Favorites</p>
							<p class="upper">Zeppelin</p>
							<p class="upper">Bonamassa</p>
							<p class="upper">Queen</p>
						</div>
					</div>

					<div class="block center flex vcenter hcenter" style="width:32%;">
						<div>
							<p class="upper orange">Listens</p>
							<p class="upper">Blues</p>
							<p class="upper">Rock n' Roll</p>
							<p class="upper">Et al.</p>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!--<![endif]-->
	</body>
</html>
