{% extends 'demo/dispatcher.html' %}

{% block content %}
<section class="lockwidth centered">
	<h1>Plan &amp; Outlook</h1>

	<p>
		The Ografy Engine has a self-describing API to interact with the Engine’s data structure.
		This self-describing API uses an OData-like format and is superior to W3C’s RTF, Microsoft’s OData, Google’s GData, and other existing self-describing semantic API formats.
		The Ografy Engine is a unique software technology segmented into three workflow components.
	</p>

	<!-- INSERT FIGURE HERE -->

	<p>
		The first component is the meta API, which can take in information from three distinct types of data sources.
		First are the API connectors that link to existing product APIs, such as the Facebook, Twitter, Reddit, LinkedIn or Google.
		The second type of data source comes from a suite of web and file scraping tools able to access data on sites like Mint.com, BankofAmerica.com, VerizionWireless.com, or MyTracks KML location files.
		The third is our developer source API that allows for new data sources to be integrated into the meta API layer.
		From these sources, the meta API layer normalizes the input data so it can be stored in the secure Ografy data structure.
	</p>

	<p>
		The middle component, the Ografy data structure, is a data collection that relates discrete entries by time and location.
		This means that no matter what format a data point might take, all entries can be related because they all share the attributes of a date-time and a geolocation point.
		This time and location information is typically sourced from information being passively collected from the user’s applications which generates data points.
		The data structure is able to store all information collected by the meta API and then uses the data source to identify the type of information stored such as a message, a purchase, a web post, or geographic travel.
	</p>

	<p>
		The self-described API is the third component of the Ografy Engine.
		This externally-facing component has no web interface, but rather, it is a RESTful application interface that is accessed through a single login.
		This self-described interface exposes the current schema of the internal Ografy data structure and restricts the login user visibility to only data the user has access rights to.
		All Ografy products interface with the Ografy Engine using this self-described API.
	</p>

	<h2>Future Products</h2>

	<p>
		This section is added to show the potential of the Ografy Engine and how the suite of Ografy products can be expanded to offer an array of tools for cutting-edge business applications.
		These products will not be considered for development for the next 4 to 5 years, but are serve as an example of the future road map.
	</p>

	<h3>Ografy Analytics</h3>
	<p>
		Ografy Analytics is an application that exposes the Ografy meta API layer through a powerful web-based query and report interface.
		The tool allows for a user to find answers to questions in the form of queries from data in the Ografy Engine data structure.
		Lists of questions, or queries, can be collected into reports.
		This product is targeted to power consumer users and businesses who want real time responses to important questions answerable by their data.
	</p>

	<h3>Ografy Prediction</h3>
	<p>
		Ografy Prediction is an intelligent personal assistant developed on the Ografy Engine which uses a natural language user interface to answer questions, make recommendations, and perform actions by delegating requests to connected web services.
		The Prediction suite will passively deliver information to the user that it predicts they will want based on their habits.
	</p>

	<h3>Ografy Network</h3>
	<p>
		Ografy Network is an extension of the Ografy Engine allowing for sharing, synchronization, and querying across multiple Ografy Engine instances.
		This is done through multiple distributed data servers (DDS) and distributed data clients (DC) which is a powerful way to combine semantic datasets and realize the semantic web’s “web of data” vision.
	</p>
</section>
{% endblock %}
