{% extends 'demo/dispatcher.html' %}
{% load staticfiles %}

{% block content %}
<section class="lockwidth centered">
	<h1>Ografy Investor Resources</h1>

	<p>
		Ografy maintains a detailed business plan and abbreviated pitch deck.
		We have a brief process in place we like to go through with potential investors before making these resources available.
	</p>

	<p>If you would like to obtain these resources or discuss Ografy in more detail please contact us at <a href="mailto:executives@ografy.io?Subject=Investment%20Inquiry">executives@ografy.io</a>.</p>

	<div class="center" style="margin-top:3em;">
		<h2>Continue to public demo</h2>
		<a class="ui button positive" href="{% url 'documentation_index' %}">Get Started</a>
	</div>
</section>
{% endblock %}
